@page { margin: 200px 50px 50px; }

#header { position: fixed; left: 0; top: -200px; right: 0; height: 150px; margin-top: 50px; }

#footer { position: fixed; left: 0; bottom: -50px; right: 0; height: 50px; background-color: lightblue; font-size: 12px; }