html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/**
 * HTML5 display-role reset for older browsers
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* --------->>> 1. LAYOUT <<<--------- */
body {
  font-size: 16px;
  -webkit-text-size-adjust: none; }

/* --------->>> 2. DRUPAL <<<--------- */
.clearfix:after {
  font-size: 0; }

/**
 * Menu reset
 */
ul.menu {
  list-style: none; }
  ul.menu li {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    ul.menu li ul {
      margin-left: 16px; }

/**
 * Tabs
 */
ul.tabs {
  margin: 0 0 16px;
  padding: 0;
  border-bottom: #e0e0e0 solid 1px; }
  ul.tabs li {
    float: left;
    padding: 0;
    border: none; }
    ul.tabs li a {
      display: block;
      height: 22px;
      padding: 0 8px;
      font-size: 13px;
      line-height: 22px; }
  ul.tabs.primary li a {
    margin-right: 2px;
    border: #e0e0e0 solid 1px;
    border-bottom: none;
    background-color: #eee; }
    ul.tabs.primary li a.active {
      background-color: #fff;
      color: #000 !important; }
  ul.tabs.secondary li a.active {
    border-bottom: #e0e0e0 solid 4px;
    color: #000 !important; }

/* --------->>> 3. HTML ELEMENTS <<<--------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px;
  font-weight: normal; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

p {
  margin-bottom: 8px;
  font-weight: normal; }

table {
  width: 100%;
  margin-bottom: 16px;
  color: #757575; }

/**
 * Forms
 */
input,
select,
textarea {
  font-family: sans-serif;
  font-size: inherit; }

input.form-text,
textarea {
  padding: 4px;
  border: #e0e0e0 solid 1px;
  border-radius: 0;
  -webkit-appearance: none; }

/**
 * Blocks
 */
/**
 * Nodes and taxonomy terms (inc. CKEditor)
 */
.node ol,
.node ul,
.taxonomy-term ol,
.taxonomy-term ul,
.cke_editable ol,
.cke_editable ul {
  margin: 0 0 8px 32px; }
  .node ol li,
  .node ul li,
  .taxonomy-term ol li,
  .taxonomy-term ul li,
  .cke_editable ol li,
  .cke_editable ul li {
    margin: 2px 0; }
.node ol li,
.taxonomy-term ol li,
.cke_editable ol li {
  list-style: decimal; }
.node ul li,
.taxonomy-term ul li,
.cke_editable ul li {
  list-style: square; }
