
div.messages { margin:0 0 10px; padding:10px; border:none; }

div.status { background-image:none; }

div.status,
.ok { color:#030; }

div.status,
table tr.ok { background-color:#f2faf2; }

div.warning { background-image:none; }

div.warning,
.warning { color:#960; }

div.warning,
table tr.warning { background-color:#fffcf2; }

div.error { background-image:none; }

div.error,
.error { color:#900; }

div.error,
table tr.error { background-color:#fff2f2; }

div.messages ul { margin:0 0 0 10px; }
