#page-wrapper {
  max-width: 720px;
  margin: 0 auto; }
  #page-wrapper #page {
    margin: 0 10px; }
  #page-wrapper #footer {
    clear: both; }

@media screen and (min-width: 760px) {
  #page-wrapper {
    width: 720px;
    max-width: none; }

  .one-sidebar #content {
    float: left;
    width: 520px; }
  .two-sidebars #content {
    float: left;
    width: 340px;
    margin-left: 180px; }

  .sidebar {
    float: left;
    width: 160px; }
    .one-sidebar .sidebar {
      margin-left: 20px; }
    .two-sidebars .sidebar#sidebar-first {
      margin-left: -520px; }
    .two-sidebars .sidebar#sidebar-second {
      margin-left: 20px; } }
@media screen and (min-width: 980px) {
  #page-wrapper {
    width: 960px; }

  .one-sidebar #content {
    width: 700px; }
  .two-sidebars #content {
    width: 460px;
    margin-left: 240px; }

  .sidebar {
    width: 220px; }
    .two-sidebars .sidebar#sidebar-first {
      margin-left: -700px; } }
