@import 'fonts';
@import 'mixins';

/** PANELS DISPLAYS **/

//Display/layouts
.panel-display {

    //One Column Layout
    //@TODO: fully incorporate wide breakpoint, remove need for 'wide' class
    &.panel-1col {
        .panel-pane.wide { padding: 0;
            h2.pane-title, .pane-content { width: 1170px; margin: 0 auto; }
        }
    }

}