@import 'fonts';
@import 'mixins';

h1#page-title {

    .rural-postcode-rag & { font-size: 50px; }

}

/* --------->>> 1. LAYOUT <<<--------- */

#header { width: 700px; margin: 0 auto; padding: 50px 0 0;

    .rural-postcode-rag & {

        #logo { margin-left: 0; }

    }

    #header-right { position: absolute; top: 0; right: 0; text-align: right;

        #openingTimes { display: none; }

        #phoneNumberTop { display: block; position: relative; top: 89px; left: -80px; font-size: 36px; }

    }

    .tool-tabs { display: block; position: absolute; top: 7px; right: 0;

        .tool-tab { /*margin-right: 10px;*/ padding: 10px 20px 10px 45px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: #FFF;

            &.smallholders { background: url('../images/icons/icon-smallholders-chicken.png') no-repeat 15px 8px #5a6771; }

            &.covernotes { background: url('../images/icons/icon-covernotes-door.png') no-repeat 15px 7px #5a6771; margin: 0 33px; }

            &.find-a-broker { background: url('../images/icons/icon-find-a-broker.png') no-repeat 18px 8px #5a6771; margin-right: 0; }

        }

    }

}

#logo { padding-left: 0; margin: 0 0 25px; }

#socialShare { position: absolute; top: 18px; right: 240px; height: 25px; padding: 3px 20px 0 0; border-right: 1px solid #fff; display: none; }

#mobile-menu-button { right: -6px;  top: 87px;

	.mobileBtn { display: inherit; }

}

#pageRow2 {  }

#pageRow3Inner { width: 700px; margin: 0 auto; padding: 20px 0 0 0;

    .full-width & { width: 100%; }

}

#footer { padding: 40px 0; }

#legal #legalContent{ width:700px; margin: 0 auto; }

/* --------->>> 2. NAVIGATION <<<--------- */

nav#mobile-menu {

    #menu-user-details-wrapper {

        .user-details {

            .user-icon { display: block; }

            .user-intro { width: 80%;

                .spacer { margin: 0 15px; }

            }

        }

    }

 .mobile-menu-info {

     .phone-number {
         font-size: 36px;
     }

     .opening-times {
         font-size: 24px;
     }

 }

}

.site-map { width: 700px; margin: 0 auto 40px; padding: 0 0 40px 0; border-bottom: 1px solid #5a6771;

    ul.site-map-menu{

        li { width: 155px; float: left; padding: 0 10px; margin-bottom: 0;

            &.first { padding: 0 10px 0 0; }

            &.last { padding: 0 0 0 10px; }

            ul { margin-top: 15px;

                li { width: 100%; float: none; padding: 0; margin-bottom: 10px;

                    &:last-of-type { margin-bottom: 0; }

                }

            }

        }

    }

}


/* --------->>> 2. DRUPAL <<<--------- */

#user-profile-form {

    .page-user-edit:not(.tao) & {

        input[type="text"], input[type="password"] { max-width: 400px; }

        .password-strength { display: block; }

    }

}

/** Blocks **/

#block-block-3 { float: left; width: 220px; margin-left: 0; margin-right: 10px;}

#block-block-6 { float: left; width: 220px; margin-bottom: 10px; margin-left: 10px; }

#block-block-9 { float: left; width: 340px; clear: none; }

#block-menu-menu-our-products { margin-right: 20px; }

#block-menu-menu-ways-to-trade { margin-right: 0; }

#block-menu-menu-policy-administration { margin-right: 20px; }

#block-menu-menu-our-products, #block-menu-menu-ways-to-trade, #block-menu-menu-policy-administration { width: 340px; margin-bottom: 20px; }

//Front page menu copy
#block-block-31, #block-block-32, #block-block-33 { width: 340px;

    &#block-block-31 { top: 40px; }

    &#block-block-32 { top: 40px; left: 360px; }

    &#block-block-33 { top: 220px; }

    p { margin-bottom: 0; }

}

/** Views **/

.views-row { display: inline; float: left; margin-right: 20px; }

.views-row-last { margin-right: 0 !important; }

.views-row {

    &.views-row-3.views-row-odd.menu-273, &.views-row-6.views-row-even.menu-608 { margin-right: 0; }

}

#view-our-partners li.views-row { height: 200px; }

#block-views-about-quicklinks-block { margin-top:20px; }

.quickLinks li { width: 210px; margin-right: 25px; }

.profileList {

    li { margin-right: 25px }

}

.blockquote li { width: 200px; height: 350px; }

.products {

    li { width: 200px; height: 480px; }

}

.documentation {

    li { width: 200px; height: 275px; }

}

.claims { position: relative; margin-bottom: 30px;

	h2 { font-size: 2em; margin-bottom: 44px; }
	
	.claimsPoints {

        p { text-align: center; margin-bottom: 44px; font-size: 28px; }

        ul {

            li { float: left; width: 350px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box; padding: 0 22px 0 36px; min-height: 60px; margin: 0 0 24px; }

        }

    }
	
}

.claimsLinks {

	li { width: 340px; height: 200px; margin: 0 20px 20px 0; padding-top: 215px;

        &.views-row-even { margin: 0 0 20px; }

    }

}

.claimsPartners {

	h3 { border-bottom: 0 !important; }
	
	h5 { padding-bottom:15px; border-bottom: 1px solid #f6416c; }
		
	li { width: 100%; margin-bottom: 40px; border-bottom: 1px solid #ddd; 
	
	img { float: left; width: 300px; margin-right: 40px; margin-bottom: 100px; }
	
	&.views-row-first { position: relative; width: 100%; height: auto; margin-right: 0 !important; margin-bottom: 40px; border-bottom: 1px solid #ddd; }
	
	&.views-row-first h3 { font-size: 2.5em; }
	
	&.views-row-first .views-field-field-partner-image { margin-bottom: 30px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
	
	&.views-row-first img { float: none; width: auto !important; margin-bottom: 0; margin-left: 170px; }
	
	}
	
}


/* SPECIAL STYLES FOR CLAIMS PARTNERS PAGE */

.claimsPartners .views-row-first { position: relative; width: 100%; height: auto; margin-right: 0 !important; margin-bottom: 40px;
    
    img { width: auto !important; margin-left: 170px; }
    
    h3 { font-size: 2em; }
    
}

.news {

    li { width: 315px; height: 520px; }
		
}

.node-news {

    img { float: right; margin: 0 0 15px 15px; border: none; width: auto;}

}

.quickLinks-trading { box-sizing: border-box;

    li { float: left; width: 48%; margin-right: 4%; margin-bottom: 20px;

        &.views-row-even { margin-right: 0; }

    }

}

.contact {

    .column1 { float: left; width: 460px; }

    .column.last { float: left; margin-left: 20px; display: inline-block; width: auto; }

}

/** Quicktabs **/

.tabContent { padding-bottom: 0; margin-bottom: 0; border-bottom: 0;

    .column1, .column2 { display: inline; float: left; width: 50%; }

}

/** Web forms **/

.webform-client-form {

    label { float: left; }

    input.form-text { width: 94%; }

    textarea { width: 100%; }

}

/** front page banner **/

#block-views-front-page-banner-block-1 { width: 700px !important; height: 283px; position: relative; margin: 0 auto; }

.view-front-page-banner { width: 700px !important; margin: 0 auto;

    .views-slideshow-cycle-main-frame { width: 700px !important; margin: 0 auto;

        .views-row { margin-right: 0; position: relative;

            //img { width: 700px; }

            .banner-content { position: absolute; top: 0; left: 0; width: 50%; height: 283px;

                .banner-copy { margin-bottom: 15px;

                    h1 { font-size: 30px; margin-bottom: 15px; }

                    .caption { font-size: 18px; }

                }

            }

        }

    }

    .views-slideshow-controls-bottom { display: block; position: absolute; bottom: 10px; left: 150px; z-index: 10;

        .views-slideshow-pager-field-item { float: left; margin-right: 10px; height: 10px; width: 10px; border-radius: 5px; background: #EEE; font-size: 0; cursor: pointer; z-index: 10;

            &.active { background: #AAA; }

        }

    }

}

/** LANDING PAGE PANELS **/

body.node-type-landing-page-panel{

    .landing-page-footer-container { padding: 35px 0; }

    .landing-page-footer-content { width: 210px; margin-bottom: 0; display: inline-block; margin-right: 20px;

        &.right { margin-right: 0; }

    }

}

/** PANELS DISPLAYS **/

//Display/layouts
.panel-display {

    //One Column Layout
    &.panel-1col {
        .panel-pane { padding: 0;
            h2.pane-title, .pane-content { width: 700px; margin: 0 auto; }
        }
    }

}

//Panes
.panel-pane { padding: 44px 0 !important;

    /* GLOBAL */

    &.intro-panel {
        h2.pane-title { position: absolute; left: 50%; margin-left: -350px !important; width: 350px !important; padding-right: 20px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
        .pane-content p { float: right; width: 50%; border-left: 1px solid #DDDDDD; padding-left: 20px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
    }

    &.two-col { float: left; width: 50%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; height: 400px;
        h2.pane-title, .pane-content { width: 350px !important; }
        &.left {
            h2.pane-title, .pane-content { position: absolute; left: 50%; margin-left: -350px; padding-right: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
        }

        &.right {
            h2.pane-title, .pane-content { margin-left: 20px;}
        }
    }

    //Large farm landing page
    &.large-farm { padding: 44px 0 !important;

        &.we-know-large-farm-business { position: relative;
            .pane-content { padding: 0 0 44px;
                img { position: absolute; right: 50%; top: 50%; margin-top: -80px; margin-right: -350px; }
                p, ul { padding-right: 320px; }
            }
            h2.pane-title { padding: 44px 0 0; }
        }

        &.product-improvements { position: relative; min-height: 350px;
            img { display: block; position: absolute; bottom: 0; right: 50%; margin-right: -350px; width: 350px !important; height: 210px !important; }
            a { display: inline-block;
                &:last-of-type { margin-left: 20px; }
            }
        }

        &.here-to-trade { background: #E9AA00;
            .pane-content { padding-top: 55px !important; }
        }

        &.competitive-farm-motor { position: relative;
            img { display: none; }
            ul { position: relative; top: -10px; }
            a { position: relative; top: -15px; }
        }

        &.quick-response { background-position: center right 100px;
            .pane-content { padding-right: 20%;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;}
        }

    }

    &.agricultural-vehicle {

        &.intro-panel { height: 200px; }

        &.two-col { height: 350px; }

        &.you-said {
            .pane-content { position: relative;
                p { width: 350px; }
                img { margin: 0; position: absolute; right: 0; top: -75px; }
            }
        }

        &.we-did {
            .pane-content{ position: relative;
                p { width: 350px; }
                img { margin: 0; position: absolute; right: 0; top: -60px; }
            }
        }

        &.heavy-risk-no-problem {
            .pane-content { padding-top: 98px !important;
                img { display: none; }
                a { display: inline-block;
                    &:last-of-type { margin-left: 20px; }
                }
            }
        }

        &.multi-policy-discount a { display: inline-block; }

        &.underwriters { background: url('../images/cta.png') no-repeat calc(50% + 175px) bottom;
            .pane-content { padding-right: 350px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box; }
        }

    }

    &.black-white { 

        &.banner { background: url('../images/landing_page/black_white/banner_background_desktop.jpg') center; background-size: cover;
            .banner-image { width: 100%; height: 600px; margin: 0 auto; background: url('../images/landing_page/black_white/banner_tablet.png') center no-repeat; background-size: contain; }
        }

        &.intro-copy { 
            .call-us { text-align: left; background: url('../images/landing_page/black_white/call.png') no-repeat; height: 88px; padding: 8px 0 0 118px; }
        }

        &.picture-blocks { 
            .pane-content { 
                .picture-block { margin-bottom: 0;
                    .gradient { background: url('../images/landing_page/black_white/overlay_fade.png') bottom; }
                    h3 { vertical-align: bottom; position: relative; top: -22px; }
                }
            }
        }

        &.key-contacts { 
            .key-contact { display: inline-block; width: 33%; margin: 0 -4px 0 2px; }
        }

        &.other-ways { 
            .support-block {
                p { font-size: 20px; }
                a { font-size: 16px; }
            }
        }

    }

    //New Chapter On Stand Feedback Intro
    &.new-chapter-on-stand-feedback-intro {

        .pane-content {

            p {

                &:first-of-type { display: block; }

            }

        }

    }


    //New Chapter On Stand Feedback Form Block
    &.pane-rural-new-chapter-feedback-rural-new-chapter-feedback {

        .pane-content {
            .form-item-aware-before-biba {

                #edit-aware-before-biba { width: 404px; margin: 0 auto; }

                .form-item-aware-before-biba { margin-bottom: 0; float: left;

                    label[for="edit-aware-before-biba-1"] { margin-right: 44px; }

                }

            }

        }

    }

    &.hero-image { height: 600px;

        .pane-content { width: 100% !important; height: 600px; position: relative;

            .title-block { margin-left: -760px; background: url('../images/home/hero_title_backdrop_unity.png') no-repeat 0 -470px; width: 1027px; height: 545px; position: absolute; left: 50%; padding-top: 33px;

                h1 { padding-left: 410px; font-size: 66px; color: #FFF; margin-bottom: 7px;

                    span { font-size: 82px; color: #FFF; position: relative; top: -15px; font-family: museo-500, Arial, Helvetica, sans-serif; }

                }

                p { padding-left: 410px; padding-right: 230px; margin: 13px 0 25px; max-width: none; }

                a { margin: 0 0 0 410px; }

            }

            img { display: block;

                &.logo {
                    position: absolute;
                    top: 275px;
                    right: 50%;
                    margin-right: -360px;
                    height: 258px;
                    width: 420px;
                }

                &.scroll { position: absolute; left: 50%; bottom: -36px; margin: 0 0 0 -36px; }

            }

        }

    }

    &.about-rural {  background: url('../images/home/about_backdrop.png') no-repeat 0 -75px;  padding: 80px 10px 44px !important;

        .pane-content {

            .stat-block-container { margin-bottom: 44px;

                .stat-block { margin-bottom: 0; float: left; width: 233px;

                    p { padding: 0 20px; }

                }

            }

            img.scroll { display: block; position: absolute; left: 50%; bottom: -99px; margin-left: -36px; }

        }

    }

    &.pane-products-products-homepage-content-pane {

        .view-content {

            .views-row { display: block; margin: 0 0 40px; background-color: #FFF; text-align: left; height: 350px; position: relative;

                &.views-row-odd {

                    .copy { padding: 40px 50% 40px 40px;

                        h3, p, a { margin-right: 40px; }

                    }

                    .product-image { left: 50%; }

                    .arrow { background: url('../images/icons/arrow_right.png') no-repeat; }

                }

                &.views-row-even {

                    .copy { padding: 40px 40px 40px 50%;

                        h3, p, a { margin-left: 40px; }

                    }

                    .arrow { background: url('../images/icons/arrow_left.png') no-repeat; margin-left: -40px; }

                }

                .product-image { position: absolute; top: 0; height: 350px; width: 50%; }

                .copy {

                    h3 { font-size: 24px; }

                    p { padding: 0; margin-bottom: 20px; font-size: 14px; }

                    a { @include ghost_button_large(#f6416c); }

                }

                .arrow { top: 50%; left: 50%; height: 72px; width: 40px; margin: -36px 0 0 0;}

            }

        }

    }

    &.promo-hero {

        .pane-content { width: 100% !important; height: 475px;

            .title-block { background: url('../images/home/promo_copy_backdrop.png') no-repeat 0 -160px; width: 645px; text-align: left; position: absolute; left: 50%; margin-left: -542px;

                h2, p, .link-wrapper { max-width: none; }

                h2 { color: #FFF; border-bottom: 0; margin: 0 0 12px 190px; padding: 40px 0 0; width: 360px; }

                p { color: #FFF; margin-left: 190px; width: 360px; padding: 0; }

                a { @include ghost_button_large(#FFF); margin-left: 190px; }

            }

            img { position: absolute; bottom: 0; left: 50%; margin-left: -360px; }

        }

    }

    &.find-a-broker-bar {

        .pane-content { max-width: none; text-align: left;

            h3 {  }

            p { display: inline-block; }

            a { position: absolute; top: 52px; right: 0; }

        }

    }

    &.nav-blocks {

        .stat-block-container {

            .stat-block { margin-bottom: 0; float: left; width: 233px;

                p { padding: 0 20px; }

            }

        }

    }

    &.new-chapter-brand-video {

        .pane-content {

            iframe { width: 622px; max-width: none; height: 350px; }

        }

    }

    &.new-chapter-why-we-changed {

        .pane-content {

            .block-one { padding: 0 340px 0 0; min-height: 450px; text-align: left;

                h3 { text-align: left; max-width: none; margin-bottom: 22px; }

                p { padding-right: 22px;

                    &.intro { padding-top: 0; }

                }
                img { position: absolute; top: 0; left: auto; right: 0; margin-left: 0; margin-bottom: 0; height: 450px; width: 340px; /*height: 600px; width: 450px;*/ }

            }

        }

    }

    &.new-chapter-we-are-we-will {

        .pane-content {

            ul { width: 100%;

                li { display: inline; margin-left: 22px; font-size: 50px; }

            }

        }

        .will-block {

            p {  width: 450px; }

        }

    }

    &.new-chapter-feedback-form {

        .pane-content {

            .view-display-id-a_new_chapter_feedback_form {

                .view-content {

                    form { width: 500px; margin: 0 auto; }

                }

            }

        }

    }

}

/** CKEditor Column Templates **/


.column-wrapper { margin-bottom: 10px;

    &.two-col {

        .column { float: left; width: 50%; box-sizing: border-box; margin: 0;

            &.first { padding-right: 10px; }

            &.last { padding-left: 10px; }

        }

    }

}

/** RBM Postcode Checker **/

#rural-postcode-rag-search-form{ width: 610px;

    .ui-effects-wrapper { width: auto !important; }
    #edit-postcode { float: left; width: 410px !important; margin-right: 20px; }

    #edit-submit-search { float: left; width: 180px; }

}

#send-submission-button { width: 510px; margin: 0 auto; background: url("../images/icons/note.png") no-repeat center right 40px #2B2B2B; padding: 15px 40px; }

#rural-postcode-rag-risksubmit-form {

    .form-item { float: left;

        input { width: 320px; }

        &.form-item-name, &.form-item-deadline { margin-right: 20px; }

    }

    .NFI-wrapper {

        .NFI-button { width: 160px; top: 0; }

        .NFI-filename { width: 500px; position: static; }

    }

}

#rag-response-container {

    .rag-response { width: 700px; padding: 40px 20px;

        &.amber {
            h2 { font-size: 30px;
                &.force-big { font-size: 40px; }
            }
            p.call-us { font-size: 30px; }
        }

        h2 { font-size: 40px; }

        p.sub {
            &.mobile-reduce { font-size: 22px; }
            &.rbm-about { display: block; margin-top: 5px; }
        }

    }

}

/** GROWING TOGETHER **/

//Growing together login page
.growing-together-login-page{


    .panel-pane {

        &.growing-together-logo { padding: 22px 0 66px !important; }

        &.login-header {

            .pane-content { width: 500px !important; }

        }

        &.growing-together-login-block { margin-bottom: 44px;

            .pane-content { width: 460px !important; }

        }

    }

}

//Growing together main page
.growing-together-main-page {

    .panel-pane {

        &.growing-together-entry-blocks {

            .growing-together-entry-block { height: 112px; text-align: left; padding: 44px 22px 44px 208px; margin-bottom: 44px;

                &:hover {

                    h2 { text-decoration: none; }

                }

                img { position: absolute; top: 40px; left: 44px; height: 120px; width: 120px; }

                h2 { font-size: 28px; margin-bottom: 0; }

                p { display: block; }

                a { font-size: 16px; position: relative; top: 20px; padding: 8px 25px; border: 2px solid #FFF; color: #FFF; text-transform: uppercase;  }

            }

        }

    }

}

//Section pages
.growing-together-section-page {

    h1#page-title { display: none; }

    .panel-pane {

        &.growing-together-section-header { padding: 44px 10px 11px !important;

            .sections { width: 560px;

                a { height: 120px; width: 120px; margin: 0 10px; background-size: 120px 120px !important; }

            }

            h2 { font-size: 68px; }

        }

    }

}

//Feedback form
.growing-together-login-page, .growing-together-main-page, .growing-together-section-page {

    .panel-pane {

        &.pane-growing-together-section-growing-together-feedback { padding: 22px 22px 0 !important; margin-top: 22px;

            .feedback-form-intro { text-align: left; padding-bottom: 22px;

                p { float: left; margin-bottom: 0; position: relative; top: 7px; }

                .submit-feedback-button { float: right;

                    p { float: none; width: 250px; text-align: center; position: static; }

                }

            }

            .feedback-form-wrapper { padding-top: 0;  border-top: 0; margin-top: 0; padding-bottom: 22px;

                #growing-together-feedback-form .ajax-progress { display: none; }

            }

        }

    }

}