@import 'fonts';
@import 'mixins';

/* --------->>> 1. LAYOUT <<<--------- */

#header { width: 940px; margin: 0 auto; padding: 15px 0 0;

    #header-right { position: absolute; top: 51px; right: 0;

        .logged-in & { top: 5px; right: 244px;

            #phoneNumberTop { font-size: 24px; border-right: 0; padding: 0; margin: 0; }

            #openingTimes { display: none; }

        }

        #phoneNumberTop { display: block; position: static; border-right: 1px solid #ddd; float: left; font-size: 36px; margin: 15px 20px 0 0; padding-right: 20px; }

        #openingTimes { display: block; float: left; position: relative; top: 28px; }

    }

    .tool-tabs {

        .tool-tab { margin-right: 0;
            &.covernotes { margin: 0 10px; }
        }

    }

    .rural-unity-user-details { display: block; position: absolute; top: 65px; right: 0; }

}

#pageRow2 { }

#pageRow3 {

    #pageRow3Inner { width: 940px; margin: 0 auto;

        .full-width & { width: 100%; }

        #content { margin-bottom: 20px;

            .full-width &, .page-user-reset:not(.tao) & { margin-bottom: 0; }

            #contentColumn-1 { float: left; width: 680px; margin-bottom: 0; }

            #contentColumn-2 { float: right; width: 220px; }

        }
    }

}

#mobile-menu-button { display: none; }

#navigationInner { background: #5a6771 none repeat scroll 0 0 !important; height: 48px;

	#navigation { margin: 0 auto; width: 940px; }

}

.site-map { width: 940px;

    ul.site-map-menu{

        li { width: 219px; border-left: 1px solid #5a6771; height: 237px;

            &.first { border-left: 0; }

            ul li { border-left: 0; height: auto; }

        }

    }

}

#footer { margin: 0 auto; }

#legal #legalContent{ width:940px; position: relative;

    p { width: 620px; }

    img { display: block; position: absolute; top: -16px; right: 0; }

}

/* Not front settings... */

.not-front {

    #pageRow2 { height: 150px; }

    #pageRow3 { background: #FFF; margin: 0 auto; padding: 0; }

    &.node-type-landing-page-panel #pageRow3 { padding-top: 0; }

}

.full-width #pageRow3 { padding-top: 0 !important; }

/* Columns... */

.column { display: inline; float: left; width: 285px; margin-right: 40px;

    &.last { margin-right: 0 !important; }

}

/* --------->>> 1. NAVIGATION <<<--------- */

.front .block-menu ul.menu { display: block; }

#navigation ul.menu { display: block;

    li.sf-depth-1 { display: inline; float: left; height: 48px;
        a { display: block; padding: 10px 20px; font: 16px / 28px museo-300, Arial, "Helvetica Neue", Helvetica, sans-serif; text-decoration: none; color: #fff;
            &:hover { background-color: #42505a; color: #fff; text-decoration: none; text-shadow: none; }

            &.active { text-decoration: none;}
        }
        &.active-trail > a { background-color: #3c4256 !important; color: #FFF; }

        &.last.active-trail > a { background-color: #1c252c !important; }

        .broker-area & {

            &.last a { background-color: #1c252c !important; }

        }

        &.last { float: right;

            a { padding: 10px 40px; }

        }

    }

    ul,
    ul * { display:block; }

    ul { width:250px; }

    ul li { background:url(../images/16x16_000_80.png); }

    ul li a { float:none; border-bottom:#555 solid 1px; font-size:14px !important; line-height:1.4 !important; color: #FFF !important; }

    ul li a:hover,
    ul li.active-trail > a { background-color:#3b3b3b !important; }

    ul li.menuparent > a { background: url(../images/arrow_right_8x16_fff.png) no-repeat 160px 50%; }

    ul li:last-child > a { border-bottom:none; }

    li:hover > ul,
    li.sfHover > ul { top:48px; margin:0; padding: 0; }

    li li:hover > ul,
    li li.sfHover > ul { top:0; left:100%; padding-top:0; }
}


/* Responsive Tabs */

.resp-tabs-list { display: block;

    li { display: inline-block; padding: 13px 8px; cursor: pointer; background-color: #5a6771; border: 1px solid #5a6771; position: relative; top: 1px; color: #FFF;

        &.resp-tab-active { background-color: #FFF; border: 1px solid #DDD; border-bottom-color: #FFF; color: #5a6771;

            &:hover { background-color: #FFF; border: 1px solid #DDD; border-bottom-color: #FFF; color: #5a6771;  }

        }

        &:hover { background-color: #3c4256; color: #FFF; border: 1px solid #3c4256; }

    }

}

.resp-tabs-container { background-color: #FFF; border: 1px solid #DDD; margin-bottom: 0;

    hr { background-color: #EEE; }

    h3.resp-accordion { display: none; }

    .resp-tab-content { border: 0; }

    .resp-tabs-content-active { display: block; }

    //Fix to ensure one tab is always open
    .resp-accordion-closed { display: block; }

}


/** Broker finder **/

.view-broker-location-finder { margin-bottom: 20px;

    .view-content { display: inline; float: left; width: 460px; }

    .view-filters { display: inline; float: right; width: 460px; }

    .attachment-after { display: inline; float: right; width: 460px; margin-top: 0; }

    .item-list { width: 460px; bottom: -16px; right: 0;   }

    .views-exposed-form {

        #edit-post-code-wrapper { padding: 0; width: 100%;

            .form-item { width: 215px; float: left;

                &.form-item-post-code-postal-code { margin-right: 10px; }

            }

        }

        .views-exposed-widget {

            &.views-submit-button { float: none; text-align: center;
                input.form-submit { position: static; height: 53px; margin-top: 10px; }
            }

        }

    }
}

.find-a-broker-advert {

    a { float: right; }

}

.claims { position: relative; margin-bottom: 30px;

	h2 { font-size: 2em; }
	
	.claimsPoints {

        ul {

            li { width: 235px; margin: 0 0 32px; }

        }

    }
	
}

.claimsLinks {

	li { width: 460px; height: 200px; margin-bottom: 20px; padding-top: 220px; }

}

#block-menu-menu-our-products, #block-menu-menu-ways-to-trade, #block-menu-menu-policy-administration { display: inline-table; width:220px; background-size: 100% 120px; background-position: 0 40px; margin-right: 20px;

    h2 { margin-bottom: 130px; border-bottom: 1px solid #f6416c; font-family: museo-100, Arial,"Helvetica Neue",Helvetica,sans-serif; padding: 0 0 5px 0; color: #666; background: none;

        a { color: #666; }

    }

}

#block-menu-menu-policy-administration{ margin-right: 0; }

#block-block-3 { display: block; margin-left: 20px; margin-right: 0; }

#block-block-6 { display: block; margin-left: 20px; }

#block-block-9 { margin-left: 20px; margin-right: 0; width: 220px; padding: 0; background-color: #FFF; opacity: 1;}

//Front page menu copy
#block-block-31, #block-block-32, #block-block-33 { display: none; }

/** Not a broker block **/

#block-block-36 { display: block; position: absolute; top: 0; left: 400px;

    .content { position: relative; width: 350px;

        img { position: absolute; top: -10px; left: 0; width: 50px; }

        p { margin-top: 20px; padding-left: 65px; font-size: 18px; }

        a { position: relative; left: 190px; top: -32px; padding: 9px 18px; border: 1px solid #f6416c; color: #f6416c;  }

    }

}

/** front page banner **/

#block-views-front-page-banner-block-1 { width: 940px !important; height: 380px; }

.view-front-page-banner { width: 940px !important; margin: 0 auto;

    .views-slideshow-cycle-main-frame { width: 940px !important; height: 380px; margin: 0 auto;

        .views-slideshow-cycle-main-frame-row{ width: 940px !important; height: 380px !important; }

        .views-row { margin-right: 0; position: relative;

            img { width: 940px !important; height: 380px !important; }

            .banner-content { top: 20px; left: 20px; width: 440px; height: 300px;

                .banner-copy { margin-bottom: 20px;

                    h1 { font-size: 36px; margin-bottom: 20px; }

                    .caption { font-size: 18px; }

                }

            }

        }

    }

    .views-slideshow-controls-bottom { bottom: 70px; left: 210px; }

}

/* Documentation */

.view-documentation {

    /* Policy documentation exposed filter */
    &.view-display-id-policy_documents .views-exposed-form, &.view-display-id-policy_documents_product_specific .views-exposed-form {

        .views-exposed-widgets { margin-bottom: 20px; padding-bottom: 0; border-bottom: 0;

            .views-exposed-widget { float: left; margin-bottom: 0;

                #edit-title { width: 300px; margin-right: 20px; }

                .form-item-between-date-filter-value { width: 300px; margin-right: 20px;
                    #edit-between-date-filter-value {
                        .form-item-between-date-filter-value-date {
                            #edit-between-date-filter-value-datepicker-popup-0 { width: 300px; }
                        }
                    }
                }

                .form-submit { padding: 5px 15px; position: relative; top: 21px; height: 56px; width: 120px; }

            }

        }

    }


}

/* --------->>> 2. DRUPAL <<<--------- */

#user-profile-form {

    .page-user-edit:not(.tao) & {

        input[type="text"], input[type="password"] { max-width: 600px; }

    }

}

/** LANDING PAGE PANELS **/

body.node-type-landing-page-panel{

    .landing-page-footer-content { width: 290px; }

}

/** SPLASHIFY PLUS **/

.rural-splash { height: 470px !important;

    #cboxWrapper { width: 850px !important; height: 470px !important;

        #cboxContent { height: 470px !important;

            #cboxLoadedContent { height: 420px !important; }

        }

    }

}

/** PANELS DISPLAYS **/

.panel-display {

    //One Column Layout
    &.panel-1col {
        .panel-pane {
            h2.pane-title, .pane-content { width: 940px; }
        }
    }

}

//Panes
.panel-pane {

    /** GLOBAL **/

    &.intro-panel {
        h2.pane-title { margin-left: -470px !important; width: 470px !important;  }
    }

    &.two-col {
        h2.pane-title, .pane-content { width: 470px !important; }
        &.left {
            h2.pane-title, .pane-content { margin-left: -470px; }
        }
    }

    //Large farm landing page
    &.large-farm {

        &.we-know-large-farm-business {
            .pane-content {
                img { width: 500px !important; height: 250px !important; margin-top: -125px; margin-right: -470px; }
                p, ul { padding-right: 500px; }
            }
        }

        &.product-improvements {

            img { margin-right: -470px; width: 590px !important; height: 350px !important; }
            p { width: 530px; }
        }

        &.here-to-trade {
            -webkit-background-size: 100px 100px;
            background-size: 100px 100px;
            background: #E9AA00 url('../images/icon_trading_150x150.png') no-repeat top 22px right 20px;

            .pane-content { padding-top: 55px !important;
                p { width: 350px; }
            }

        }

        &.competitive-farm-motor {
            img { display: block; position: absolute; top: auto; bottom: 15px; right: 20px; margin: 0; }
            ul { position: static; margin-bottom: 40px; }
            a { position: static; }
        }

        &.quick-response { background-position: center right 150px;
            .pane-content { padding-right: 30%; }
        }

    }

    &.agricultural-vehicle {

        &.intro-panel { height: 150px; }

        &.two-col { height: 420px; }

        &.you-said {
            .pane-content p { width: 470px; }
        }

        &.we-did {
            .pane-content p { width: 470px; }
        }

        &.heavy-risk-no-problem {
            .pane-content {
                img { display: block; top: 13px; }
            }
        }

        &.underwriters { background-position: calc(50% + 365px) bottom; }

    }

    &.black-white {

        &.banner .banner-image { background: url('../images/landing_page/black_white/banner_desktop.png') center no-repeat; background-size: contain; }

        &.picture-blocks { 
            .pane-content { 
                .picture-block { float: left; width: 50%; }
            }
        }

        &.key-contacts { 
            .key-contact { font-size: 18px;
                .name { font-size: 28px; }
            }
        }

        &.other-ways { 
            .support-block { float: left; width: 32%; box-sizing: border-box;
                &.agricultural-risk { margin: 0 2%; }
                p { font-size: 20px; }
                a { font-size: 16px; }
            }
        }

    }

    &.hero-image { height: 600px;

        .pane-content { width: 100% !important; height: 600px; position: relative;

            .title-block { margin-left: -880px; background: url('../images/home/hero_title_backdrop_unity.png') no-repeat 0 -470px; width: 1027px; height: 545px; position: absolute; left: 50%; padding-top: 33px;

                h1 { padding-left: 410px; font-size: 66px; color: #FFF; margin-bottom: 7px;

                    span { font-size: 82px; color: #FFF; position: relative; top: -15px; font-family: museo-500, Arial, Helvetica, sans-serif; }

                }

                a { margin: 0 0 0 410px; }

            }

            img { display: block;

                &.logo {
                    top: 200px;
                    margin-right: -470px;
                    height: auto;
                    width: auto;
                }

                &.scroll { position: absolute; left: 50%; bottom: -36px; margin: 0 0 0 -36px; }

            }

        }

    }

    &.about-rural {

        .pane-content {

            .stat-block-container {

                .stat-block { width: 313px;

                    //img { height: 220px; width: 220px; }

                    p { padding: 0 40px; }

                }

            }

            img.scroll { display: block; position: absolute; left: 50%; bottom: -99px; margin-left: -36px; }

        }

    }

    &.pane-products-products-homepage-content-pane {

        .view-content {

            .views-row {

                .copy {

                    h3 { font-size: 28px; }

                    p { font-size: 16px; margin-bottom: 40px; }

                }

            }

        }

    }

    &.promo-hero {

        .pane-content {

            .title-block { margin-left: -660px; }

            img { margin-left: -470px; }

        }

    }

    &.find-a-broker-bar {

        .pane-content {

            a { top: 26px; }

        }

    }

    &.nav-blocks {

        .stat-block-container {

            .stat-block { width: 313px;

                img { height: 220px; width: 220px; }

                p { padding: 0 40px; }

            }

        }

    }

    &.new-chapter-brand-video {

        .pane-content {

            iframe { width: 775px; height: 436px; }

        }

    }

    &.new-chapter-why-we-changed {

        .pane-content {

            .block-one { padding: 0 485px 0 0; min-height: 600px;

                img { height: 600px; width: 450px; }

            }

        }

    }

    &.new-chapter-we-are-we-will { padding: 44px 0 0 !important;

        .pane-content {

            .will-block { float: left; width: 50%; }

        }

    }

    &.content-moved {

        &.page-copy {

            .link-wrapper { width: 740px; margin: 0 auto;

                a { width: 360px; float: left;

                    &.find-out-more { margin: 0 20px 0 0; }

                }

            }

        }

    }

}

.panel-panel {

    .featured-container {

        .featured-content { height: 160px; padding: 20px 220px 20px 20px; }

        .featured-image {

            img { width: 200px; height: 200px; }

        }

    }

}

/** RBM Postcode Checker **/

#rural-postcode-rag-risksubmit-form {

    .form-item {

        &.form-item-files-submission-form { float: none; }

        input { width: 330px; }

    }

    .NFI-wrapper {

        .NFI-filename { width: 520px; }

    }

}

#rag-response-container {

    .rag-response { width: 760px; padding: 40px; }

}

/** GROWING TOGETHER **/

//Growing together main page
.growing-together-main-page {

    .panel-pane {

        &.growing-together-entry-blocks { padding: 44px 0 0 !important;

            .growing-together-entry-block { height: 220px; width: 455px; float: left; margin-bottom: 22px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 50px 22px 30px 172px;

                &.our-journey-so-far { padding: 55px 22px 30px 172px;

                    h2, p { position: relative; top: -9px; }

                    p { margin-bottom: 30px; }

                }

                &.tools-to-help-you { padding: 45px 22px 30px 172px; }

                &.our-brand { padding: 39px 22px 30px 172px;

                    h2, p { position: relative; top: -10px; }

                    p { margin-bottom: 20px; }

                }

                &.your-team-your-products { padding: 28px 22px 30px 172px; }

                &.odd { margin-right: 20px; }

                img { top: 50px; left: 30px; }

                p { margin-bottom: 20px; }

                a { position: static; }

            }

        }

    }

}