/**
 * Museo Font Family.
 *
 * Defines the following fonts:
 *   - Museo 100
 *   - Museo 100 Italic
 *   - Museo 300
 *   - Museo 300 Italic
 *   - Museo 500
 *   - Museo 500 Italic
 *   - Museo 700
 *   - Museo 700 Italic
 *   - Museo 900
 *   - Museo 900 Italic
 */

//Museo 100
@font-face {
    font-family: 'museo-100';
    src: url('../fonts/museo/museo_100.eot');
    src: url('../fonts/museo/museo_100.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo/museo_100.woff2') format('woff2'),
         url('../fonts/museo/museo_100.woff') format('woff'),
         url('../fonts/museo/museo_100.ttf') format('truetype');
}

//Museo 100 Italic
@font-face {
    font-family: 'museo-100-italic';
    src: url('../fonts/museo/museo_100_italic.eot');
    src: url('../fonts/museo/museo_100_italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo/museo_100_italic.woff2') format('woff2'),
         url('../fonts/museo/museo_100_italic.woff') format('woff'),
         url('../fonts/museo/museo_100_italic.ttf') format('truetype');
}

//Museo 300
@font-face {
    font-family: 'museo-300';
    src: url('../fonts/museo/museo_300.eot');
    src: url('../fonts/museo/museo_300.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo/museo_300.woff2') format('woff2'),
         url('../fonts/museo/museo_300.woff') format('woff'),
         url('../fonts/museo/museo_300.ttf') format('truetype');
}

//Museo 300 Italic
@font-face {
    font-family: 'museo-300-italic';
    src: url('../fonts/museo/museo_300_italic.eot');
    src: url('../fonts/museo/museo_300_italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo/museo_300_italic.woff2') format('woff2'),
         url('../fonts/museo/museo_300_italic.woff') format('woff'),
         url('../fonts/museo/museo_300_italic.ttf') format('truetype');
}

//Museo 500
@font-face {
    font-family: 'museo-500';
    src: url('../fonts/museo/museo_500.eot');
    src: url('../fonts/museo/museo_500.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo/museo_500.woff2') format('woff2'),
         url('../fonts/museo/museo_500.woff') format('woff'),
         url('../fonts/museo/museo_500.ttf') format('truetype');
}

//Museo 500 Italic
@font-face {
    font-family: 'museo-500-italic';
    src: url('../fonts/museo/museo_500_italic.eot');
    src: url('../fonts/museo/museo_500_italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo/museo_500_italic.woff2') format('woff2'),
         url('../fonts/museo/museo_500_italic.woff') format('woff'),
         url('../fonts/museo/museo_500_italic.ttf') format('truetype');
}

//Museo 700
@font-face {
    font-family: 'museo-700';
    src: url('../fonts/museo/museo_700.eot');
    src: url('../fonts/museo/museo_700.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo/museo_700.woff2') format('woff2'),
         url('../fonts/museo/museo_700.woff') format('woff'),
         url('../fonts/museo/museo_700.ttf') format('truetype');
}

//Museo 700 Italic
@font-face {
    font-family: 'museo-700-italic';
    src: url('../fonts/museo/museo_700_italic.eot');
    src: url('../fonts/museo/museo_700_italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museo/museo_700_italic.woff2') format('woff2'),
    url('../fonts/museo/museo_700_italic.woff') format('woff'),
    url('../fonts/museo/museo_700_italic.ttf') format('truetype');
}

//Museo 900
@font-face {
    font-family: 'museo-900';
    src: url('../fonts/museo/museo_900.eot');
    src: url('../fonts/museo/museo_900.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo/museo_900.woff2') format('woff2'),
         url('../fonts/museo/museo_900.woff') format('woff'),
         url('../fonts/museo/museo_900.ttf') format('truetype');
}

//Museo 900 Italic
@font-face {
    font-family: 'museo-900-italic';
    src: url('../fonts/museo/museo_900_italic.eot');
    src: url('../fonts/museo/museo_900_italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo/museo_900_italic.woff2') format('woff2'),
         url('../fonts/museo/museo_900_italic.woff') format('woff'),
         url('../fonts/museo/museo_900_italic.ttf') format('truetype');
}