@mixin ghost_button_large($color) {
    text-align: center; color: $color; font-size: 16px; border: 2px solid $color; padding: 15px 35px; text-transform: uppercase;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px ;
    border-radius: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-family: museo-300, Arial, Helvetica, sans-serif;
    line-height: 1;
}

@mixin ghost_button_med($color) {
    text-align: center; color: $color; font-size: 16px; border: 2px solid $color; padding: 10px 25px; text-transform: uppercase;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px ;
    border-radius: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-family: museo-300, Arial, Helvetica, sans-serif;
    line-height: 1;
}

@mixin block_button_large($color, $hover) {
    text-align: center; color: #FFF; font-size: 16px; background-color: $color; border-color: $color; padding: 15px 35px; text-transform: uppercase;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px ;
    border-radius: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-family: museo-300, Arial, Helvetica, sans-serif;
    line-height: 1;

    &:hover { text-decoration: none; background-color: $hover; border-color: $hover; }
}

@mixin block_button_med($color, $hover) {
    text-align: center; color: #FFF; font-size: 16px; background-color: $color; border-color: $color; padding: 10px 25px; text-transform: uppercase;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px ;
    border-radius: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-family: museo-300, Arial, Helvetica, sans-serif;
    line-height: 1;

    &:hover { text-decoration: none; background-color: $hover; border-color: $hover; }
}