<div id="footer">
    <p>Rural Insurance Group Limited is authorised and regulated by the Financial Conduct Authority. Registered address: The Hamlet, Hornbeam Park, Harrogate HG2 8RE. Registered in England and Wales. Registered no. 2207611</p>
</div>