<p class="schedule-date">[@date]</p>
<h1 class="schedule-title">Schedule to Agricultural Vehicle quotation - [@quoteRef]</h1>
<div id="schedule-proposer-details">
    <p><span>Full name of insured</span> [@proposerName]</p>
    <p><span>Correspondence Address</span> [@proposerAddress]</p>
    <p><span>Postcode</span> [@postcode]</p>
    <p><span>Cover start date</span> [@coverStartDate]</p>
</div>
<div id="schedule-premium-breakdown">
    <table border="1">
        <tr>
            <td class="label">Quoted Premium</td>
            <td>[@premiumExcludingIPT]</td>
            <td class="label">IPT</td>
            <td>[@IPT]</td>
            <td>Total</td>
            <td>[@premium]</td>
        </tr>
        <tr>
            <td>Admin Fee</td>
            <td>[@ruralFee]</td>
            <td colspan="2">Total amount payable</td>
            <td colspan="2">[@finalPremium]</td>
        </tr>
    </table>
    <p class="caveat">The cover shown in this schedule is issued in accordance with the Rural business motor policy version V13 August 2015.</p>
</div>
<div id="vehicle-schedule">
    <h2>Agricultural Vehicle Schedule</h2>
    <div style="page-break-inside: avoid">
        <table border="1" style="margin-bottom: 50px;">
            <tr>
                <td class="label">Reg or Serial No.</td>
                <td class="label">Make & Model</td>
                <td class="label">Year</td>
                <td class="label">Vehicle Type</td>
            </tr>
            <tr>
                <td>[@vehicleReg]</td>
                <td>[@vehicleMakeModel]</td>
                <td>[@vehicleYear]</td>
                <td>[@vehicleType]</td>
            </tr>
            <tr>
                <td class="label">Value</td>
                <td class="label">NCB</td>
                <td class="label">Excess</td>
                <td class="label">Cover</td>
            </tr>
            <tr>
                <td>[@vehicleValue]</td>
                <td>[@vehicleNCB]</td>
                <td>£100</td>
                <td>[@vehicleCover]</td>
            </tr>
            <tr>
                <td colspan="2" class="label">Quoted Premium (exc. IPT and Admin Fee)</td>
                <td colspan="2"><[@vehiclePremium]</td>
            </tr>
        </table>
    </div>
    <div style="page-break-inside: avoid">
        <table border="1" style="margin-bottom: 50px;">
            <tr>
                <td class="label">Reg or Serial No.</td>
                <td class="label">Make & Model</td>
                <td class="label">Year</td>
                <td class="label">Vehicle Type</td>
            </tr>
            <tr>
                <td>[@vehicleReg]</td>
                <td>[@vehicleMakeModel]</td>
                <td>[@vehicleYear]</td>
                <td>[@vehicleType]</td>
            </tr>
            <tr>
                <td class="label">Value</td>
                <td class="label">NCB</td>
                <td class="label">Excess</td>
                <td class="label">Cover</td>
            </tr>
            <tr>
                <td>[@vehicleValue]</td>
                <td>[@vehicleNCB]</td>
                <td>£100</td>
                <td>[@vehicleCover]</td>
            </tr>
            <tr>
                <td colspan="2" class="label">Quoted Premium (exc. IPT and Admin Fee)</td>
                <td colspan="2"><[@vehiclePremium]</td>
            </tr>
        </table>
    </div>
    <div style="page-break-inside: avoid">
        <table border="1" style="margin-bottom: 50px;">
            <tr>
                <td class="label">Reg or Serial No.</td>
                <td class="label">Make & Model</td>
                <td class="label">Year</td>
                <td class="label">Vehicle Type</td>
            </tr>
            <tr>
                <td>[@vehicleReg]</td>
                <td>[@vehicleMakeModel]</td>
                <td>[@vehicleYear]</td>
                <td>[@vehicleType]</td>
            </tr>
            <tr>
                <td class="label">Value</td>
                <td class="label">NCB</td>
                <td class="label">Excess</td>
                <td class="label">Cover</td>
            </tr>
            <tr>
                <td>[@vehicleValue]</td>
                <td>[@vehicleNCB]</td>
                <td>£100</td>
                <td>[@vehicleCover]</td>
            </tr>
            <tr>
                <td colspan="2" class="label">Quoted Premium (exc. IPT and Admin Fee)</td>
                <td colspan="2"><[@vehiclePremium]</td>
            </tr>
        </table>
    </div>
    <div style="page-break-inside: avoid">
        <table border="1" style="margin-bottom: 50px;">
            <tr>
                <td class="label">Reg or Serial No.</td>
                <td class="label">Make & Model</td>
                <td class="label">Year</td>
                <td class="label">Vehicle Type</td>
            </tr>
            <tr>
                <td>[@vehicleReg]</td>
                <td>[@vehicleMakeModel]</td>
                <td>[@vehicleYear]</td>
                <td>[@vehicleType]</td>
            </tr>
            <tr>
                <td class="label">Value</td>
                <td class="label">NCB</td>
                <td class="label">Excess</td>
                <td class="label">Cover</td>
            </tr>
            <tr>
                <td>[@vehicleValue]</td>
                <td>[@vehicleNCB]</td>
                <td>£100</td>
                <td>[@vehicleCover]</td>
            </tr>
            <tr>
                <td colspan="2" class="label">Quoted Premium (exc. IPT and Admin Fee)</td>
                <td colspan="2"><[@vehiclePremium]</td>
            </tr>
        </table>
    </div>
    <div style="page-break-inside: avoid">
        <table border="1" style="margin-bottom: 50px;">
            <tr>
                <td class="label">Reg or Serial No.</td>
                <td class="label">Make & Model</td>
                <td class="label">Year</td>
                <td class="label">Vehicle Type</td>
            </tr>
            <tr>
                <td>[@vehicleReg]</td>
                <td>[@vehicleMakeModel]</td>
                <td>[@vehicleYear]</td>
                <td>[@vehicleType]</td>
            </tr>
            <tr>
                <td class="label">Value</td>
                <td class="label">NCB</td>
                <td class="label">Excess</td>
                <td class="label">Cover</td>
            </tr>
            <tr>
                <td>[@vehicleValue]</td>
                <td>[@vehicleNCB]</td>
                <td>£100</td>
                <td>[@vehicleCover]</td>
            </tr>
            <tr>
                <td colspan="2" class="label">Quoted Premium (exc. IPT and Admin Fee)</td>
                <td colspan="2"><[@vehiclePremium]</td>
            </tr>
        </table>
    </div>
</div>
