.left { float: left; }

.right { float: right; width: 290px; }

.button { background: #DDD; border-radius: 10px; cursor: pointer; font-weight: bold; padding: 20px; text-align: center; text-transform: uppercase; width: 250px; margin-bottom: 20px; }

.button:hover { text-decoration: underline; }

.create-container.show, .main-container.show { display: block; }

.create-container.hide, .main-container.hide { display: none; }

.quote-open { background-color: #e65100; color: #FFF; }

.quote-fin { background-color: #689f38; color: #FFF; }

.aggregator-stats { width: 290px; margin-bottom: 20px; }

.aggregator-close { width: 290px; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #CCC; }

.stat-line { width: 290px; }

.stat-line span { float: right; }

.aggregator-close .button { margin: 0 auto; padding: 5px; width: 200px; font-size: 10px; }

.aggregator-history { height: 400px; overflow: auto; }

.aggregator-history .history-result { padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #F0F0F0; }

.aggregator-history .history-result .history-title { font-size: 15px; }

.aggregator-history .history-result .history-date { font-size: 10px; margin-bottom: 10px; }

.overall-container { padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #CCC; }