ul.admin-menu { position:fixed; top:0; left:0; width:100%; background-color:#212121; font-family:Arial, Helvetica, sans-serif; z-index:9999;

  li { float:left;
   
    a { display:block; height:21px; padding:0 10px; color:#eee; font-size:12px; text-decoration:none; line-height:21px;
  
      &:hover { text-decoration:underline; }

      &.active { color:#fff !important; }
    }

    ul { margin:0;
    
      li { float:none; width:180px;
           
        a { border-bottom:#424242 solid 1px; background-color:#212121;

          &:hover { background-color:#000; }
        }

        &:last-child {
          a { border:none; }
        }
        
        &.menuparent {
          a { background-image:url(../images/admin_menu_menuparent.png); background-position:161px 50%; background-repeat:no-repeat; }
        }
      }
    }

    &:hover > ul,
    &.sfHover > ul { top:100%;

      ul { top:0; left:100%; }
    }
  }
}