
/* --------->>> 1. LAYOUT <<<--------- */

body { font-size:16px; -webkit-text-size-adjust:none; }

/* --------->>> 2. DRUPAL <<<--------- */

.clearfix:after { font-size:0; } 

/**
 * Menu reset
 */

ul.menu { list-style:none;

  li { list-style-image:none; list-style-type:none; margin:0; padding:0;

    ul { margin-left:16px; }
  }
}

/**
 * Tabs
 */

ul.tabs { margin:0 0 16px; padding:0; border-bottom:#e0e0e0 solid 1px;

  li { float:left; padding:0; border:none;

    a { display:block; height:22px; padding:0 8px; font-size:13px; line-height:22px; }
  }
  
  &.primary li a { margin-right:2px; border:#e0e0e0 solid 1px; border-bottom:none; background-color:#eee;

    &.active { background-color:#fff; color:#000 !important; }
  }
  
  &.secondary li a {
    &.active { border-bottom:#e0e0e0 solid 4px; color:#000 !important; }
  }
}

/* --------->>> 3. HTML ELEMENTS <<<--------- */

h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom:16px; font-weight:normal; }

img { display:block; max-width:100%; height:auto; }

p { margin-bottom:8px; font-weight:normal; }

table { width:100%; margin-bottom:16px; color:#757575; }

/**
 * Forms
 */

input,
select,
textarea { font-family:sans-serif; font-size:inherit; }

input.form-text,
textarea { padding:4px; border:#e0e0e0 solid 1px; border-radius:0; -webkit-appearance:none; }

/**
 * Blocks
 */

/**
 * Nodes and taxonomy terms (inc. CKEditor)
 */

.node,
.taxonomy-term,
.cke_editable {
  ol,
  ul { margin:0 0 8px 32px;

    li { margin:2px 0; }
  }
  
  ol li { list-style:decimal; }

  ul li { list-style:square; }
}