
#page-wrapper { max-width:720px; margin:0 auto;

  #page { margin:0 10px; }

  #footer { clear:both; }
}

@media screen and (min-width:760px) {
  #page-wrapper { width:720px; max-width:none; }

  #content {
    .one-sidebar & { float:left; width:520px; }

    .two-sidebars & { float:left; width:340px; margin-left:180px; } 
  }

  .sidebar { float:left; width:160px;

    .one-sidebar & { margin-left:20px; }

    &#sidebar-first {
      .two-sidebars & { margin-left:-520px; }
    }
  
    &#sidebar-second {
      .two-sidebars & { margin-left:20px; }
    }
  }
}

@media screen and (min-width:980px) {
  #page-wrapper { width:960px; }

  #content {
    .one-sidebar & { width:700px; }

    .two-sidebars & { width:460px; margin-left:240px; } 
  }

  .sidebar { width:220px;

    &#sidebar-first {
      .two-sidebars & { margin-left:-700px; }
    }
  }
}
