/**
 * Museo Font Family.
 *
 * Defines the following fonts:
 *   - Museo 100
 *   - Museo 100 Italic
 *   - Museo 300
 *   - Museo 300 Italic
 *   - Museo 500
 *   - Museo 500 Italic
 *   - Museo 700
 *   - Museo 700 Italic
 *   - Museo 900
 *   - Museo 900 Italic
 */
@font-face {
  font-family: 'museo-100';
  src: url("../fonts/museo/museo_100.eot");
  src: url("../fonts/museo/museo_100.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo_100.woff2") format("woff2"), url("../fonts/museo/museo_100.woff") format("woff"), url("../fonts/museo/museo_100.ttf") format("truetype"); }
@font-face {
  font-family: 'museo-100-italic';
  src: url("../fonts/museo/museo_100_italic.eot");
  src: url("../fonts/museo/museo_100_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo_100_italic.woff2") format("woff2"), url("../fonts/museo/museo_100_italic.woff") format("woff"), url("../fonts/museo/museo_100_italic.ttf") format("truetype"); }
@font-face {
  font-family: 'museo-300';
  src: url("../fonts/museo/museo_300.eot");
  src: url("../fonts/museo/museo_300.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo_300.woff2") format("woff2"), url("../fonts/museo/museo_300.woff") format("woff"), url("../fonts/museo/museo_300.ttf") format("truetype"); }
@font-face {
  font-family: 'museo-300-italic';
  src: url("../fonts/museo/museo_300_italic.eot");
  src: url("../fonts/museo/museo_300_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo_300_italic.woff2") format("woff2"), url("../fonts/museo/museo_300_italic.woff") format("woff"), url("../fonts/museo/museo_300_italic.ttf") format("truetype"); }
@font-face {
  font-family: 'museo-500';
  src: url("../fonts/museo/museo_500.eot");
  src: url("../fonts/museo/museo_500.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo_500.woff2") format("woff2"), url("../fonts/museo/museo_500.woff") format("woff"), url("../fonts/museo/museo_500.ttf") format("truetype"); }
@font-face {
  font-family: 'museo-500-italic';
  src: url("../fonts/museo/museo_500_italic.eot");
  src: url("../fonts/museo/museo_500_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo_500_italic.woff2") format("woff2"), url("../fonts/museo/museo_500_italic.woff") format("woff"), url("../fonts/museo/museo_500_italic.ttf") format("truetype"); }
@font-face {
  font-family: 'museo-700';
  src: url("../fonts/museo/museo_700.eot");
  src: url("../fonts/museo/museo_700.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo_700.woff2") format("woff2"), url("../fonts/museo/museo_700.woff") format("woff"), url("../fonts/museo/museo_700.ttf") format("truetype"); }
@font-face {
  font-family: 'museo-700-italic';
  src: url("../fonts/museo/museo_700_italic.eot");
  src: url("../fonts/museo/museo_700_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo_700_italic.woff2") format("woff2"), url("../fonts/museo/museo_700_italic.woff") format("woff"), url("../fonts/museo/museo_700_italic.ttf") format("truetype"); }
@font-face {
  font-family: 'museo-900';
  src: url("../fonts/museo/museo_900.eot");
  src: url("../fonts/museo/museo_900.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo_900.woff2") format("woff2"), url("../fonts/museo/museo_900.woff") format("woff"), url("../fonts/museo/museo_900.ttf") format("truetype"); }
@font-face {
  font-family: 'museo-900-italic';
  src: url("../fonts/museo/museo_900_italic.eot");
  src: url("../fonts/museo/museo_900_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo_900_italic.woff2") format("woff2"), url("../fonts/museo/museo_900_italic.woff") format("woff"), url("../fonts/museo/museo_900_italic.ttf") format("truetype"); }
.rural-postcode-rag h1#page-title {
  font-size: 50px; }

/* --------->>> 1. LAYOUT <<<--------- */
#header {
  width: 700px;
  margin: 0 auto;
  padding: 50px 0 0; }
  .rural-postcode-rag #header #logo {
    margin-left: 0; }
  #header #header-right {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right; }
    #header #header-right #openingTimes {
      display: none; }
    #header #header-right #phoneNumberTop {
      display: block;
      position: relative;
      top: 89px;
      left: -80px;
      font-size: 36px; }
  #header .tool-tabs {
    display: block;
    position: absolute;
    top: 7px;
    right: 0; }
    #header .tool-tabs .tool-tab {
      /*margin-right: 10px;*/
      padding: 10px 20px 10px 45px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: #FFF; }
      #header .tool-tabs .tool-tab.smallholders {
        background: url("../images/icons/icon-smallholders-chicken.png") no-repeat 15px 8px #5a6771; }
      #header .tool-tabs .tool-tab.covernotes {
        background: url("../images/icons/icon-covernotes-door.png") no-repeat 15px 7px #5a6771;
        margin: 0 33px; }
      #header .tool-tabs .tool-tab.find-a-broker {
        background: url("../images/icons/icon-find-a-broker.png") no-repeat 18px 8px #5a6771;
        margin-right: 0; }

#logo {
  padding-left: 0;
  margin: 0 0 25px; }

#socialShare {
  position: absolute;
  top: 18px;
  right: 240px;
  height: 25px;
  padding: 3px 20px 0 0;
  border-right: 1px solid #fff;
  display: none; }

#mobile-menu-button {
  right: -6px;
  top: 87px; }
  #mobile-menu-button .mobileBtn {
    display: inherit; }

#pageRow3Inner {
  width: 700px;
  margin: 0 auto;
  padding: 20px 0 0 0; }
  .full-width #pageRow3Inner {
    width: 100%; }

#footer {
  padding: 40px 0; }

#legal #legalContent {
  width: 700px;
  margin: 0 auto; }

/* --------->>> 2. NAVIGATION <<<--------- */
nav#mobile-menu #menu-user-details-wrapper .user-details .user-icon {
  display: block; }
nav#mobile-menu #menu-user-details-wrapper .user-details .user-intro {
  width: 80%; }
  nav#mobile-menu #menu-user-details-wrapper .user-details .user-intro .spacer {
    margin: 0 15px; }
nav#mobile-menu .mobile-menu-info .phone-number {
  font-size: 36px; }
nav#mobile-menu .mobile-menu-info .opening-times {
  font-size: 24px; }

.site-map {
  width: 700px;
  margin: 0 auto 40px;
  padding: 0 0 40px 0;
  border-bottom: 1px solid #5a6771; }
  .site-map ul.site-map-menu li {
    width: 155px;
    float: left;
    padding: 0 10px;
    margin-bottom: 0; }
    .site-map ul.site-map-menu li.first {
      padding: 0 10px 0 0; }
    .site-map ul.site-map-menu li.last {
      padding: 0 0 0 10px; }
    .site-map ul.site-map-menu li ul {
      margin-top: 15px; }
      .site-map ul.site-map-menu li ul li {
        width: 100%;
        float: none;
        padding: 0;
        margin-bottom: 10px; }
        .site-map ul.site-map-menu li ul li:last-of-type {
          margin-bottom: 0; }

/* --------->>> 2. DRUPAL <<<--------- */
.page-user-edit:not(.tao) #user-profile-form input[type="text"], .page-user-edit:not(.tao) #user-profile-form input[type="password"] {
  max-width: 400px; }
.page-user-edit:not(.tao) #user-profile-form .password-strength {
  display: block; }

/** Blocks **/
#block-block-3 {
  float: left;
  width: 220px;
  margin-left: 0;
  margin-right: 10px; }

#block-block-6 {
  float: left;
  width: 220px;
  margin-bottom: 10px;
  margin-left: 10px; }

#block-block-9 {
  float: left;
  width: 340px;
  clear: none; }

#block-menu-menu-our-products {
  margin-right: 20px; }

#block-menu-menu-ways-to-trade {
  margin-right: 0; }

#block-menu-menu-policy-administration {
  margin-right: 20px; }

#block-menu-menu-our-products, #block-menu-menu-ways-to-trade, #block-menu-menu-policy-administration {
  width: 340px;
  margin-bottom: 20px; }

#block-block-31, #block-block-32, #block-block-33 {
  width: 340px; }
  #block-block-31#block-block-31, #block-block-32#block-block-31, #block-block-33#block-block-31 {
    top: 40px; }
  #block-block-31#block-block-32, #block-block-32#block-block-32, #block-block-33#block-block-32 {
    top: 40px;
    left: 360px; }
  #block-block-31#block-block-33, #block-block-32#block-block-33, #block-block-33#block-block-33 {
    top: 220px; }
  #block-block-31 p, #block-block-32 p, #block-block-33 p {
    margin-bottom: 0; }

/** Views **/
.views-row {
  display: inline;
  float: left;
  margin-right: 20px; }

.views-row-last {
  margin-right: 0 !important; }

.views-row.views-row-3.views-row-odd.menu-273, .views-row.views-row-6.views-row-even.menu-608 {
  margin-right: 0; }

#view-our-partners li.views-row {
  height: 200px; }

#block-views-about-quicklinks-block {
  margin-top: 20px; }

.quickLinks li {
  width: 210px;
  margin-right: 25px; }

.profileList li {
  margin-right: 25px; }

.blockquote li {
  width: 200px;
  height: 350px; }

.products li {
  width: 200px;
  height: 480px; }

.documentation li {
  width: 200px;
  height: 275px; }

.claims {
  position: relative;
  margin-bottom: 30px; }
  .claims h2 {
    font-size: 2em;
    margin-bottom: 44px; }
  .claims .claimsPoints p {
    text-align: center;
    margin-bottom: 44px;
    font-size: 28px; }
  .claims .claimsPoints ul li {
    float: left;
    width: 350px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 22px 0 36px;
    min-height: 60px;
    margin: 0 0 24px; }

.claimsLinks li {
  width: 340px;
  height: 200px;
  margin: 0 20px 20px 0;
  padding-top: 215px; }
  .claimsLinks li.views-row-even {
    margin: 0 0 20px; }

.claimsPartners h3 {
  border-bottom: 0 !important; }
.claimsPartners h5 {
  padding-bottom: 15px;
  border-bottom: 1px solid #f6416c; }
.claimsPartners li {
  width: 100%;
  margin-bottom: 40px;
  border-bottom: 1px solid #ddd; }
  .claimsPartners li img {
    float: left;
    width: 300px;
    margin-right: 40px;
    margin-bottom: 100px; }
  .claimsPartners li.views-row-first {
    position: relative;
    width: 100%;
    height: auto;
    margin-right: 0 !important;
    margin-bottom: 40px;
    border-bottom: 1px solid #ddd; }
  .claimsPartners li.views-row-first h3 {
    font-size: 2.5em; }
  .claimsPartners li.views-row-first .views-field-field-partner-image {
    margin-bottom: 30px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  .claimsPartners li.views-row-first img {
    float: none;
    width: auto !important;
    margin-bottom: 0;
    margin-left: 170px; }

/* SPECIAL STYLES FOR CLAIMS PARTNERS PAGE */
.claimsPartners .views-row-first {
  position: relative;
  width: 100%;
  height: auto;
  margin-right: 0 !important;
  margin-bottom: 40px; }
  .claimsPartners .views-row-first img {
    width: auto !important;
    margin-left: 170px; }
  .claimsPartners .views-row-first h3 {
    font-size: 2em; }

.news li {
  width: 315px;
  height: 520px; }

.node-news img {
  float: right;
  margin: 0 0 15px 15px;
  border: none;
  width: auto; }

.quickLinks-trading {
  box-sizing: border-box; }
  .quickLinks-trading li {
    float: left;
    width: 48%;
    margin-right: 4%;
    margin-bottom: 20px; }
    .quickLinks-trading li.views-row-even {
      margin-right: 0; }

.contact .column1 {
  float: left;
  width: 460px; }
.contact .column.last {
  float: left;
  margin-left: 20px;
  display: inline-block;
  width: auto; }

/** Quicktabs **/
.tabContent {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0; }
  .tabContent .column1, .tabContent .column2 {
    display: inline;
    float: left;
    width: 50%; }

/** Web forms **/
.webform-client-form label {
  float: left; }
.webform-client-form input.form-text {
  width: 94%; }
.webform-client-form textarea {
  width: 100%; }

/** front page banner **/
#block-views-front-page-banner-block-1 {
  width: 700px !important;
  height: 283px;
  position: relative;
  margin: 0 auto; }

.view-front-page-banner {
  width: 700px !important;
  margin: 0 auto; }
  .view-front-page-banner .views-slideshow-cycle-main-frame {
    width: 700px !important;
    margin: 0 auto; }
    .view-front-page-banner .views-slideshow-cycle-main-frame .views-row {
      margin-right: 0;
      position: relative; }
      .view-front-page-banner .views-slideshow-cycle-main-frame .views-row .banner-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 283px; }
        .view-front-page-banner .views-slideshow-cycle-main-frame .views-row .banner-content .banner-copy {
          margin-bottom: 15px; }
          .view-front-page-banner .views-slideshow-cycle-main-frame .views-row .banner-content .banner-copy h1 {
            font-size: 30px;
            margin-bottom: 15px; }
          .view-front-page-banner .views-slideshow-cycle-main-frame .views-row .banner-content .banner-copy .caption {
            font-size: 18px; }
  .view-front-page-banner .views-slideshow-controls-bottom {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 150px;
    z-index: 10; }
    .view-front-page-banner .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
      float: left;
      margin-right: 10px;
      height: 10px;
      width: 10px;
      border-radius: 5px;
      background: #EEE;
      font-size: 0;
      cursor: pointer;
      z-index: 10; }
      .view-front-page-banner .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active {
        background: #AAA; }

/** LANDING PAGE PANELS **/
body.node-type-landing-page-panel .landing-page-footer-container {
  padding: 35px 0; }
body.node-type-landing-page-panel .landing-page-footer-content {
  width: 210px;
  margin-bottom: 0;
  display: inline-block;
  margin-right: 20px; }
  body.node-type-landing-page-panel .landing-page-footer-content.right {
    margin-right: 0; }

/** PANELS DISPLAYS **/
.panel-display.panel-1col .panel-pane {
  padding: 0; }
  .panel-display.panel-1col .panel-pane h2.pane-title, .panel-display.panel-1col .panel-pane .pane-content {
    width: 700px;
    margin: 0 auto; }

.panel-pane {
  padding: 44px 0 !important;
  /* GLOBAL */ }
  .panel-pane.intro-panel h2.pane-title {
    position: absolute;
    left: 50%;
    margin-left: -350px !important;
    width: 350px !important;
    padding-right: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
  .panel-pane.intro-panel .pane-content p {
    float: right;
    width: 50%;
    border-left: 1px solid #DDDDDD;
    padding-left: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
  .panel-pane.two-col {
    float: left;
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 400px; }
    .panel-pane.two-col h2.pane-title, .panel-pane.two-col .pane-content {
      width: 350px !important; }
    .panel-pane.two-col.left h2.pane-title, .panel-pane.two-col.left .pane-content {
      position: absolute;
      left: 50%;
      margin-left: -350px;
      padding-right: 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .panel-pane.two-col.right h2.pane-title, .panel-pane.two-col.right .pane-content {
      margin-left: 20px; }
  .panel-pane.large-farm {
    padding: 44px 0 !important; }
    .panel-pane.large-farm.we-know-large-farm-business {
      position: relative; }
      .panel-pane.large-farm.we-know-large-farm-business .pane-content {
        padding: 0 0 44px; }
        .panel-pane.large-farm.we-know-large-farm-business .pane-content img {
          position: absolute;
          right: 50%;
          top: 50%;
          margin-top: -80px;
          margin-right: -350px; }
        .panel-pane.large-farm.we-know-large-farm-business .pane-content p, .panel-pane.large-farm.we-know-large-farm-business .pane-content ul {
          padding-right: 320px; }
      .panel-pane.large-farm.we-know-large-farm-business h2.pane-title {
        padding: 44px 0 0; }
    .panel-pane.large-farm.product-improvements {
      position: relative;
      min-height: 350px; }
      .panel-pane.large-farm.product-improvements img {
        display: block;
        position: absolute;
        bottom: 0;
        right: 50%;
        margin-right: -350px;
        width: 350px !important;
        height: 210px !important; }
      .panel-pane.large-farm.product-improvements a {
        display: inline-block; }
        .panel-pane.large-farm.product-improvements a:last-of-type {
          margin-left: 20px; }
    .panel-pane.large-farm.here-to-trade {
      background: #E9AA00; }
      .panel-pane.large-farm.here-to-trade .pane-content {
        padding-top: 55px !important; }
    .panel-pane.large-farm.competitive-farm-motor {
      position: relative; }
      .panel-pane.large-farm.competitive-farm-motor img {
        display: none; }
      .panel-pane.large-farm.competitive-farm-motor ul {
        position: relative;
        top: -10px; }
      .panel-pane.large-farm.competitive-farm-motor a {
        position: relative;
        top: -15px; }
    .panel-pane.large-farm.quick-response {
      background-position: center right 100px; }
      .panel-pane.large-farm.quick-response .pane-content {
        padding-right: 20%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
  .panel-pane.agricultural-vehicle.intro-panel {
    height: 200px; }
  .panel-pane.agricultural-vehicle.two-col {
    height: 350px; }
  .panel-pane.agricultural-vehicle.you-said .pane-content {
    position: relative; }
    .panel-pane.agricultural-vehicle.you-said .pane-content p {
      width: 350px; }
    .panel-pane.agricultural-vehicle.you-said .pane-content img {
      margin: 0;
      position: absolute;
      right: 0;
      top: -75px; }
  .panel-pane.agricultural-vehicle.we-did .pane-content {
    position: relative; }
    .panel-pane.agricultural-vehicle.we-did .pane-content p {
      width: 350px; }
    .panel-pane.agricultural-vehicle.we-did .pane-content img {
      margin: 0;
      position: absolute;
      right: 0;
      top: -60px; }
  .panel-pane.agricultural-vehicle.heavy-risk-no-problem .pane-content {
    padding-top: 98px !important; }
    .panel-pane.agricultural-vehicle.heavy-risk-no-problem .pane-content img {
      display: none; }
    .panel-pane.agricultural-vehicle.heavy-risk-no-problem .pane-content a {
      display: inline-block; }
      .panel-pane.agricultural-vehicle.heavy-risk-no-problem .pane-content a:last-of-type {
        margin-left: 20px; }
  .panel-pane.agricultural-vehicle.multi-policy-discount a {
    display: inline-block; }
  .panel-pane.agricultural-vehicle.underwriters {
    background: url("../images/cta.png") no-repeat calc(50% + 175px) bottom; }
    .panel-pane.agricultural-vehicle.underwriters .pane-content {
      padding-right: 350px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
  .panel-pane.black-white.banner {
    background: url("../images/landing_page/black_white/banner_background_desktop.jpg") center;
    background-size: cover; }
    .panel-pane.black-white.banner .banner-image {
      width: 100%;
      height: 600px;
      margin: 0 auto;
      background: url("../images/landing_page/black_white/banner_tablet.png") center no-repeat;
      background-size: contain; }
  .panel-pane.black-white.intro-copy .call-us {
    text-align: left;
    background: url("../images/landing_page/black_white/call.png") no-repeat;
    height: 88px;
    padding: 8px 0 0 118px; }
  .panel-pane.black-white.picture-blocks .pane-content .picture-block {
    margin-bottom: 0; }
    .panel-pane.black-white.picture-blocks .pane-content .picture-block .gradient {
      background: url("../images/landing_page/black_white/overlay_fade.png") bottom; }
    .panel-pane.black-white.picture-blocks .pane-content .picture-block h3 {
      vertical-align: bottom;
      position: relative;
      top: -22px; }
  .panel-pane.black-white.key-contacts .key-contact {
    display: inline-block;
    width: 33%;
    margin: 0 -4px 0 2px; }
  .panel-pane.black-white.other-ways .support-block p {
    font-size: 20px; }
  .panel-pane.black-white.other-ways .support-block a {
    font-size: 16px; }
  .panel-pane.new-chapter-on-stand-feedback-intro .pane-content p:first-of-type {
    display: block; }
  .panel-pane.pane-rural-new-chapter-feedback-rural-new-chapter-feedback .pane-content .form-item-aware-before-biba #edit-aware-before-biba {
    width: 404px;
    margin: 0 auto; }
  .panel-pane.pane-rural-new-chapter-feedback-rural-new-chapter-feedback .pane-content .form-item-aware-before-biba .form-item-aware-before-biba {
    margin-bottom: 0;
    float: left; }
    .panel-pane.pane-rural-new-chapter-feedback-rural-new-chapter-feedback .pane-content .form-item-aware-before-biba .form-item-aware-before-biba label[for="edit-aware-before-biba-1"] {
      margin-right: 44px; }
  .panel-pane.hero-image {
    height: 600px; }
    .panel-pane.hero-image .pane-content {
      width: 100% !important;
      height: 600px;
      position: relative; }
      .panel-pane.hero-image .pane-content .title-block {
        margin-left: -760px;
        background: url("../images/home/hero_title_backdrop_unity.png") no-repeat 0 -470px;
        width: 1027px;
        height: 545px;
        position: absolute;
        left: 50%;
        padding-top: 33px; }
        .panel-pane.hero-image .pane-content .title-block h1 {
          padding-left: 410px;
          font-size: 66px;
          color: #FFF;
          margin-bottom: 7px; }
          .panel-pane.hero-image .pane-content .title-block h1 span {
            font-size: 82px;
            color: #FFF;
            position: relative;
            top: -15px;
            font-family: museo-500, Arial, Helvetica, sans-serif; }
        .panel-pane.hero-image .pane-content .title-block p {
          padding-left: 410px;
          padding-right: 230px;
          margin: 13px 0 25px;
          max-width: none; }
        .panel-pane.hero-image .pane-content .title-block a {
          margin: 0 0 0 410px; }
      .panel-pane.hero-image .pane-content img {
        display: block; }
        .panel-pane.hero-image .pane-content img.logo {
          position: absolute;
          top: 275px;
          right: 50%;
          margin-right: -360px;
          height: 258px;
          width: 420px; }
        .panel-pane.hero-image .pane-content img.scroll {
          position: absolute;
          left: 50%;
          bottom: -36px;
          margin: 0 0 0 -36px; }
  .panel-pane.about-rural {
    background: url("../images/home/about_backdrop.png") no-repeat 0 -75px;
    padding: 80px 10px 44px !important; }
    .panel-pane.about-rural .pane-content .stat-block-container {
      margin-bottom: 44px; }
      .panel-pane.about-rural .pane-content .stat-block-container .stat-block {
        margin-bottom: 0;
        float: left;
        width: 233px; }
        .panel-pane.about-rural .pane-content .stat-block-container .stat-block p {
          padding: 0 20px; }
    .panel-pane.about-rural .pane-content img.scroll {
      display: block;
      position: absolute;
      left: 50%;
      bottom: -99px;
      margin-left: -36px; }
  .panel-pane.pane-products-products-homepage-content-pane .view-content .views-row {
    display: block;
    margin: 0 0 40px;
    background-color: #FFF;
    text-align: left;
    height: 350px;
    position: relative; }
    .panel-pane.pane-products-products-homepage-content-pane .view-content .views-row.views-row-odd .copy {
      padding: 40px 50% 40px 40px; }
      .panel-pane.pane-products-products-homepage-content-pane .view-content .views-row.views-row-odd .copy h3, .panel-pane.pane-products-products-homepage-content-pane .view-content .views-row.views-row-odd .copy p, .panel-pane.pane-products-products-homepage-content-pane .view-content .views-row.views-row-odd .copy a {
        margin-right: 40px; }
    .panel-pane.pane-products-products-homepage-content-pane .view-content .views-row.views-row-odd .product-image {
      left: 50%; }
    .panel-pane.pane-products-products-homepage-content-pane .view-content .views-row.views-row-odd .arrow {
      background: url("../images/icons/arrow_right.png") no-repeat; }
    .panel-pane.pane-products-products-homepage-content-pane .view-content .views-row.views-row-even .copy {
      padding: 40px 40px 40px 50%; }
      .panel-pane.pane-products-products-homepage-content-pane .view-content .views-row.views-row-even .copy h3, .panel-pane.pane-products-products-homepage-content-pane .view-content .views-row.views-row-even .copy p, .panel-pane.pane-products-products-homepage-content-pane .view-content .views-row.views-row-even .copy a {
        margin-left: 40px; }
    .panel-pane.pane-products-products-homepage-content-pane .view-content .views-row.views-row-even .arrow {
      background: url("../images/icons/arrow_left.png") no-repeat;
      margin-left: -40px; }
    .panel-pane.pane-products-products-homepage-content-pane .view-content .views-row .product-image {
      position: absolute;
      top: 0;
      height: 350px;
      width: 50%; }
    .panel-pane.pane-products-products-homepage-content-pane .view-content .views-row .copy h3 {
      font-size: 24px; }
    .panel-pane.pane-products-products-homepage-content-pane .view-content .views-row .copy p {
      padding: 0;
      margin-bottom: 20px;
      font-size: 14px; }
    .panel-pane.pane-products-products-homepage-content-pane .view-content .views-row .copy a {
      text-align: center;
      color: #f6416c;
      font-size: 16px;
      border: 2px solid #f6416c;
      padding: 15px 35px;
      text-transform: uppercase;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      font-family: museo-300, Arial, Helvetica, sans-serif;
      line-height: 1; }
    .panel-pane.pane-products-products-homepage-content-pane .view-content .views-row .arrow {
      top: 50%;
      left: 50%;
      height: 72px;
      width: 40px;
      margin: -36px 0 0 0; }
  .panel-pane.promo-hero .pane-content {
    width: 100% !important;
    height: 475px; }
    .panel-pane.promo-hero .pane-content .title-block {
      background: url("../images/home/promo_copy_backdrop.png") no-repeat 0 -160px;
      width: 645px;
      text-align: left;
      position: absolute;
      left: 50%;
      margin-left: -542px; }
      .panel-pane.promo-hero .pane-content .title-block h2, .panel-pane.promo-hero .pane-content .title-block p, .panel-pane.promo-hero .pane-content .title-block .link-wrapper {
        max-width: none; }
      .panel-pane.promo-hero .pane-content .title-block h2 {
        color: #FFF;
        border-bottom: 0;
        margin: 0 0 12px 190px;
        padding: 40px 0 0;
        width: 360px; }
      .panel-pane.promo-hero .pane-content .title-block p {
        color: #FFF;
        margin-left: 190px;
        width: 360px;
        padding: 0; }
      .panel-pane.promo-hero .pane-content .title-block a {
        text-align: center;
        color: #FFF;
        font-size: 16px;
        border: 2px solid #FFF;
        padding: 15px 35px;
        text-transform: uppercase;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        font-family: museo-300, Arial, Helvetica, sans-serif;
        line-height: 1;
        margin-left: 190px; }
    .panel-pane.promo-hero .pane-content img {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -360px; }
  .panel-pane.find-a-broker-bar .pane-content {
    max-width: none;
    text-align: left; }
    .panel-pane.find-a-broker-bar .pane-content p {
      display: inline-block; }
    .panel-pane.find-a-broker-bar .pane-content a {
      position: absolute;
      top: 52px;
      right: 0; }
  .panel-pane.nav-blocks .stat-block-container .stat-block {
    margin-bottom: 0;
    float: left;
    width: 233px; }
    .panel-pane.nav-blocks .stat-block-container .stat-block p {
      padding: 0 20px; }
  .panel-pane.new-chapter-brand-video .pane-content iframe {
    width: 622px;
    max-width: none;
    height: 350px; }
  .panel-pane.new-chapter-why-we-changed .pane-content .block-one {
    padding: 0 340px 0 0;
    min-height: 450px;
    text-align: left; }
    .panel-pane.new-chapter-why-we-changed .pane-content .block-one h3 {
      text-align: left;
      max-width: none;
      margin-bottom: 22px; }
    .panel-pane.new-chapter-why-we-changed .pane-content .block-one p {
      padding-right: 22px; }
      .panel-pane.new-chapter-why-we-changed .pane-content .block-one p.intro {
        padding-top: 0; }
    .panel-pane.new-chapter-why-we-changed .pane-content .block-one img {
      position: absolute;
      top: 0;
      left: auto;
      right: 0;
      margin-left: 0;
      margin-bottom: 0;
      height: 450px;
      width: 340px;
      /*height: 600px; width: 450px;*/ }
  .panel-pane.new-chapter-we-are-we-will .pane-content ul {
    width: 100%; }
    .panel-pane.new-chapter-we-are-we-will .pane-content ul li {
      display: inline;
      margin-left: 22px;
      font-size: 50px; }
  .panel-pane.new-chapter-we-are-we-will .will-block p {
    width: 450px; }
  .panel-pane.new-chapter-feedback-form .pane-content .view-display-id-a_new_chapter_feedback_form .view-content form {
    width: 500px;
    margin: 0 auto; }

/** CKEditor Column Templates **/
.column-wrapper {
  margin-bottom: 10px; }
  .column-wrapper.two-col .column {
    float: left;
    width: 50%;
    box-sizing: border-box;
    margin: 0; }
    .column-wrapper.two-col .column.first {
      padding-right: 10px; }
    .column-wrapper.two-col .column.last {
      padding-left: 10px; }

/** RBM Postcode Checker **/
#rural-postcode-rag-search-form {
  width: 610px; }
  #rural-postcode-rag-search-form .ui-effects-wrapper {
    width: auto !important; }
  #rural-postcode-rag-search-form #edit-postcode {
    float: left;
    width: 410px !important;
    margin-right: 20px; }
  #rural-postcode-rag-search-form #edit-submit-search {
    float: left;
    width: 180px; }

#send-submission-button {
  width: 510px;
  margin: 0 auto;
  background: url("../images/icons/note.png") no-repeat center right 40px #2B2B2B;
  padding: 15px 40px; }

#rural-postcode-rag-risksubmit-form .form-item {
  float: left; }
  #rural-postcode-rag-risksubmit-form .form-item input {
    width: 320px; }
  #rural-postcode-rag-risksubmit-form .form-item.form-item-name, #rural-postcode-rag-risksubmit-form .form-item.form-item-deadline {
    margin-right: 20px; }
#rural-postcode-rag-risksubmit-form .NFI-wrapper .NFI-button {
  width: 160px;
  top: 0; }
#rural-postcode-rag-risksubmit-form .NFI-wrapper .NFI-filename {
  width: 500px;
  position: static; }

#rag-response-container .rag-response {
  width: 700px;
  padding: 40px 20px; }
  #rag-response-container .rag-response.amber h2 {
    font-size: 30px; }
    #rag-response-container .rag-response.amber h2.force-big {
      font-size: 40px; }
  #rag-response-container .rag-response.amber p.call-us {
    font-size: 30px; }
  #rag-response-container .rag-response h2 {
    font-size: 40px; }
  #rag-response-container .rag-response p.sub.mobile-reduce {
    font-size: 22px; }
  #rag-response-container .rag-response p.sub.rbm-about {
    display: block;
    margin-top: 5px; }

/** GROWING TOGETHER **/
.growing-together-login-page .panel-pane.growing-together-logo {
  padding: 22px 0 66px !important; }
.growing-together-login-page .panel-pane.login-header .pane-content {
  width: 500px !important; }
.growing-together-login-page .panel-pane.growing-together-login-block {
  margin-bottom: 44px; }
  .growing-together-login-page .panel-pane.growing-together-login-block .pane-content {
    width: 460px !important; }

.growing-together-main-page .panel-pane.growing-together-entry-blocks .growing-together-entry-block {
  height: 112px;
  text-align: left;
  padding: 44px 22px 44px 208px;
  margin-bottom: 44px; }
  .growing-together-main-page .panel-pane.growing-together-entry-blocks .growing-together-entry-block:hover h2 {
    text-decoration: none; }
  .growing-together-main-page .panel-pane.growing-together-entry-blocks .growing-together-entry-block img {
    position: absolute;
    top: 40px;
    left: 44px;
    height: 120px;
    width: 120px; }
  .growing-together-main-page .panel-pane.growing-together-entry-blocks .growing-together-entry-block h2 {
    font-size: 28px;
    margin-bottom: 0; }
  .growing-together-main-page .panel-pane.growing-together-entry-blocks .growing-together-entry-block p {
    display: block; }
  .growing-together-main-page .panel-pane.growing-together-entry-blocks .growing-together-entry-block a {
    font-size: 16px;
    position: relative;
    top: 20px;
    padding: 8px 25px;
    border: 2px solid #FFF;
    color: #FFF;
    text-transform: uppercase; }

.growing-together-section-page h1#page-title {
  display: none; }
.growing-together-section-page .panel-pane.growing-together-section-header {
  padding: 44px 10px 11px !important; }
  .growing-together-section-page .panel-pane.growing-together-section-header .sections {
    width: 560px; }
    .growing-together-section-page .panel-pane.growing-together-section-header .sections a {
      height: 120px;
      width: 120px;
      margin: 0 10px;
      background-size: 120px 120px !important; }
  .growing-together-section-page .panel-pane.growing-together-section-header h2 {
    font-size: 68px; }

.growing-together-login-page .panel-pane.pane-growing-together-section-growing-together-feedback, .growing-together-main-page .panel-pane.pane-growing-together-section-growing-together-feedback, .growing-together-section-page .panel-pane.pane-growing-together-section-growing-together-feedback {
  padding: 22px 22px 0 !important;
  margin-top: 22px; }
  .growing-together-login-page .panel-pane.pane-growing-together-section-growing-together-feedback .feedback-form-intro, .growing-together-main-page .panel-pane.pane-growing-together-section-growing-together-feedback .feedback-form-intro, .growing-together-section-page .panel-pane.pane-growing-together-section-growing-together-feedback .feedback-form-intro {
    text-align: left;
    padding-bottom: 22px; }
    .growing-together-login-page .panel-pane.pane-growing-together-section-growing-together-feedback .feedback-form-intro p, .growing-together-main-page .panel-pane.pane-growing-together-section-growing-together-feedback .feedback-form-intro p, .growing-together-section-page .panel-pane.pane-growing-together-section-growing-together-feedback .feedback-form-intro p {
      float: left;
      margin-bottom: 0;
      position: relative;
      top: 7px; }
    .growing-together-login-page .panel-pane.pane-growing-together-section-growing-together-feedback .feedback-form-intro .submit-feedback-button, .growing-together-main-page .panel-pane.pane-growing-together-section-growing-together-feedback .feedback-form-intro .submit-feedback-button, .growing-together-section-page .panel-pane.pane-growing-together-section-growing-together-feedback .feedback-form-intro .submit-feedback-button {
      float: right; }
      .growing-together-login-page .panel-pane.pane-growing-together-section-growing-together-feedback .feedback-form-intro .submit-feedback-button p, .growing-together-main-page .panel-pane.pane-growing-together-section-growing-together-feedback .feedback-form-intro .submit-feedback-button p, .growing-together-section-page .panel-pane.pane-growing-together-section-growing-together-feedback .feedback-form-intro .submit-feedback-button p {
        float: none;
        width: 250px;
        text-align: center;
        position: static; }
  .growing-together-login-page .panel-pane.pane-growing-together-section-growing-together-feedback .feedback-form-wrapper, .growing-together-main-page .panel-pane.pane-growing-together-section-growing-together-feedback .feedback-form-wrapper, .growing-together-section-page .panel-pane.pane-growing-together-section-growing-together-feedback .feedback-form-wrapper {
    padding-top: 0;
    border-top: 0;
    margin-top: 0;
    padding-bottom: 22px; }
    .growing-together-login-page .panel-pane.pane-growing-together-section-growing-together-feedback .feedback-form-wrapper #growing-together-feedback-form .ajax-progress, .growing-together-main-page .panel-pane.pane-growing-together-section-growing-together-feedback .feedback-form-wrapper #growing-together-feedback-form .ajax-progress, .growing-together-section-page .panel-pane.pane-growing-together-section-growing-together-feedback .feedback-form-wrapper #growing-together-feedback-form .ajax-progress {
      display: none; }

/*# sourceMappingURL=720.css.map */
