/**
 * Museo Font Family.
 *
 * Defines the following fonts:
 *   - Museo 100
 *   - Museo 100 Italic
 *   - Museo 300
 *   - Museo 300 Italic
 *   - Museo 500
 *   - Museo 500 Italic
 *   - Museo 700
 *   - Museo 700 Italic
 *   - Museo 900
 *   - Museo 900 Italic
 */
@font-face {
  font-family: 'museo-100';
  src: url("../fonts/museo/museo_100.eot");
  src: url("../fonts/museo/museo_100.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo_100.woff2") format("woff2"), url("../fonts/museo/museo_100.woff") format("woff"), url("../fonts/museo/museo_100.ttf") format("truetype"); }
@font-face {
  font-family: 'museo-100-italic';
  src: url("../fonts/museo/museo_100_italic.eot");
  src: url("../fonts/museo/museo_100_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo_100_italic.woff2") format("woff2"), url("../fonts/museo/museo_100_italic.woff") format("woff"), url("../fonts/museo/museo_100_italic.ttf") format("truetype"); }
@font-face {
  font-family: 'museo-300';
  src: url("../fonts/museo/museo_300.eot");
  src: url("../fonts/museo/museo_300.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo_300.woff2") format("woff2"), url("../fonts/museo/museo_300.woff") format("woff"), url("../fonts/museo/museo_300.ttf") format("truetype"); }
@font-face {
  font-family: 'museo-300-italic';
  src: url("../fonts/museo/museo_300_italic.eot");
  src: url("../fonts/museo/museo_300_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo_300_italic.woff2") format("woff2"), url("../fonts/museo/museo_300_italic.woff") format("woff"), url("../fonts/museo/museo_300_italic.ttf") format("truetype"); }
@font-face {
  font-family: 'museo-500';
  src: url("../fonts/museo/museo_500.eot");
  src: url("../fonts/museo/museo_500.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo_500.woff2") format("woff2"), url("../fonts/museo/museo_500.woff") format("woff"), url("../fonts/museo/museo_500.ttf") format("truetype"); }
@font-face {
  font-family: 'museo-500-italic';
  src: url("../fonts/museo/museo_500_italic.eot");
  src: url("../fonts/museo/museo_500_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo_500_italic.woff2") format("woff2"), url("../fonts/museo/museo_500_italic.woff") format("woff"), url("../fonts/museo/museo_500_italic.ttf") format("truetype"); }
@font-face {
  font-family: 'museo-700';
  src: url("../fonts/museo/museo_700.eot");
  src: url("../fonts/museo/museo_700.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo_700.woff2") format("woff2"), url("../fonts/museo/museo_700.woff") format("woff"), url("../fonts/museo/museo_700.ttf") format("truetype"); }
@font-face {
  font-family: 'museo-700-italic';
  src: url("../fonts/museo/museo_700_italic.eot");
  src: url("../fonts/museo/museo_700_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo_700_italic.woff2") format("woff2"), url("../fonts/museo/museo_700_italic.woff") format("woff"), url("../fonts/museo/museo_700_italic.ttf") format("truetype"); }
@font-face {
  font-family: 'museo-900';
  src: url("../fonts/museo/museo_900.eot");
  src: url("../fonts/museo/museo_900.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo_900.woff2") format("woff2"), url("../fonts/museo/museo_900.woff") format("woff"), url("../fonts/museo/museo_900.ttf") format("truetype"); }
@font-face {
  font-family: 'museo-900-italic';
  src: url("../fonts/museo/museo_900_italic.eot");
  src: url("../fonts/museo/museo_900_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museo_900_italic.woff2") format("woff2"), url("../fonts/museo/museo_900_italic.woff") format("woff"), url("../fonts/museo/museo_900_italic.ttf") format("truetype"); }
/* --------->>> 1. LAYOUT <<<--------- */
#header {
  width: 940px;
  margin: 0 auto;
  padding: 15px 0 0; }
  #header #header-right {
    position: absolute;
    top: 51px;
    right: 0; }
    .logged-in #header #header-right {
      top: 5px;
      right: 244px; }
      .logged-in #header #header-right #phoneNumberTop {
        font-size: 24px;
        border-right: 0;
        padding: 0;
        margin: 0; }
      .logged-in #header #header-right #openingTimes {
        display: none; }
    #header #header-right #phoneNumberTop {
      display: block;
      position: static;
      border-right: 1px solid #ddd;
      float: left;
      font-size: 36px;
      margin: 15px 20px 0 0;
      padding-right: 20px; }
    #header #header-right #openingTimes {
      display: block;
      float: left;
      position: relative;
      top: 28px; }
  #header .tool-tabs .tool-tab {
    margin-right: 0; }
    #header .tool-tabs .tool-tab.covernotes {
      margin: 0 10px; }
  #header .rural-unity-user-details {
    display: block;
    position: absolute;
    top: 65px;
    right: 0; }

#pageRow3 #pageRow3Inner {
  width: 940px;
  margin: 0 auto; }
  .full-width #pageRow3 #pageRow3Inner {
    width: 100%; }
  #pageRow3 #pageRow3Inner #content {
    margin-bottom: 20px; }
    .full-width #pageRow3 #pageRow3Inner #content, .page-user-reset:not(.tao) #pageRow3 #pageRow3Inner #content {
      margin-bottom: 0; }
    #pageRow3 #pageRow3Inner #content #contentColumn-1 {
      float: left;
      width: 680px;
      margin-bottom: 0; }
    #pageRow3 #pageRow3Inner #content #contentColumn-2 {
      float: right;
      width: 220px; }

#mobile-menu-button {
  display: none; }

#navigationInner {
  background: #5a6771 none repeat scroll 0 0 !important;
  height: 48px; }
  #navigationInner #navigation {
    margin: 0 auto;
    width: 940px; }

.site-map {
  width: 940px; }
  .site-map ul.site-map-menu li {
    width: 219px;
    border-left: 1px solid #5a6771;
    height: 237px; }
    .site-map ul.site-map-menu li.first {
      border-left: 0; }
    .site-map ul.site-map-menu li ul li {
      border-left: 0;
      height: auto; }

#footer {
  margin: 0 auto; }

#legal #legalContent {
  width: 940px;
  position: relative; }
  #legal #legalContent p {
    width: 620px; }
  #legal #legalContent img {
    display: block;
    position: absolute;
    top: -16px;
    right: 0; }

/* Not front settings... */
.not-front #pageRow2 {
  height: 150px; }
.not-front #pageRow3 {
  background: #FFF;
  margin: 0 auto;
  padding: 0; }
.not-front.node-type-landing-page-panel #pageRow3 {
  padding-top: 0; }

.full-width #pageRow3 {
  padding-top: 0 !important; }

/* Columns... */
.column {
  display: inline;
  float: left;
  width: 285px;
  margin-right: 40px; }
  .column.last {
    margin-right: 0 !important; }

/* --------->>> 1. NAVIGATION <<<--------- */
.front .block-menu ul.menu {
  display: block; }

#navigation ul.menu {
  display: block; }
  #navigation ul.menu li.sf-depth-1 {
    display: inline;
    float: left;
    height: 48px; }
    #navigation ul.menu li.sf-depth-1 a {
      display: block;
      padding: 10px 20px;
      font: 16px / 28px museo-300, Arial, "Helvetica Neue", Helvetica, sans-serif;
      text-decoration: none;
      color: #fff; }
      #navigation ul.menu li.sf-depth-1 a:hover {
        background-color: #42505a;
        color: #fff;
        text-decoration: none;
        text-shadow: none; }
      #navigation ul.menu li.sf-depth-1 a.active {
        text-decoration: none; }
    #navigation ul.menu li.sf-depth-1.active-trail > a {
      background-color: #3c4256 !important;
      color: #FFF; }
    #navigation ul.menu li.sf-depth-1.last.active-trail > a {
      background-color: #1c252c !important; }
    .broker-area #navigation ul.menu li.sf-depth-1.last a {
      background-color: #1c252c !important; }
    #navigation ul.menu li.sf-depth-1.last {
      float: right; }
      #navigation ul.menu li.sf-depth-1.last a {
        padding: 10px 40px; }
  #navigation ul.menu ul,
  #navigation ul.menu ul * {
    display: block; }
  #navigation ul.menu ul {
    width: 250px; }
  #navigation ul.menu ul li {
    background: url(../images/16x16_000_80.png); }
  #navigation ul.menu ul li a {
    float: none;
    border-bottom: #555 solid 1px;
    font-size: 14px !important;
    line-height: 1.4 !important;
    color: #FFF !important; }
  #navigation ul.menu ul li a:hover,
  #navigation ul.menu ul li.active-trail > a {
    background-color: #3b3b3b !important; }
  #navigation ul.menu ul li.menuparent > a {
    background: url(../images/arrow_right_8x16_fff.png) no-repeat 160px 50%; }
  #navigation ul.menu ul li:last-child > a {
    border-bottom: none; }
  #navigation ul.menu li:hover > ul,
  #navigation ul.menu li.sfHover > ul {
    top: 48px;
    margin: 0;
    padding: 0; }
  #navigation ul.menu li li:hover > ul,
  #navigation ul.menu li li.sfHover > ul {
    top: 0;
    left: 100%;
    padding-top: 0; }

/* Responsive Tabs */
.resp-tabs-list {
  display: block; }
  .resp-tabs-list li {
    display: inline-block;
    padding: 13px 8px;
    cursor: pointer;
    background-color: #5a6771;
    border: 1px solid #5a6771;
    position: relative;
    top: 1px;
    color: #FFF; }
    .resp-tabs-list li.resp-tab-active {
      background-color: #FFF;
      border: 1px solid #DDD;
      border-bottom-color: #FFF;
      color: #5a6771; }
      .resp-tabs-list li.resp-tab-active:hover {
        background-color: #FFF;
        border: 1px solid #DDD;
        border-bottom-color: #FFF;
        color: #5a6771; }
    .resp-tabs-list li:hover {
      background-color: #3c4256;
      color: #FFF;
      border: 1px solid #3c4256; }

.resp-tabs-container {
  background-color: #FFF;
  border: 1px solid #DDD;
  margin-bottom: 0; }
  .resp-tabs-container hr {
    background-color: #EEE; }
  .resp-tabs-container h3.resp-accordion {
    display: none; }
  .resp-tabs-container .resp-tab-content {
    border: 0; }
  .resp-tabs-container .resp-tabs-content-active {
    display: block; }
  .resp-tabs-container .resp-accordion-closed {
    display: block; }

/** Broker finder **/
.view-broker-location-finder {
  margin-bottom: 20px; }
  .view-broker-location-finder .view-content {
    display: inline;
    float: left;
    width: 460px; }
  .view-broker-location-finder .view-filters {
    display: inline;
    float: right;
    width: 460px; }
  .view-broker-location-finder .attachment-after {
    display: inline;
    float: right;
    width: 460px;
    margin-top: 0; }
  .view-broker-location-finder .item-list {
    width: 460px;
    bottom: -16px;
    right: 0; }
  .view-broker-location-finder .views-exposed-form #edit-post-code-wrapper {
    padding: 0;
    width: 100%; }
    .view-broker-location-finder .views-exposed-form #edit-post-code-wrapper .form-item {
      width: 215px;
      float: left; }
      .view-broker-location-finder .views-exposed-form #edit-post-code-wrapper .form-item.form-item-post-code-postal-code {
        margin-right: 10px; }
  .view-broker-location-finder .views-exposed-form .views-exposed-widget.views-submit-button {
    float: none;
    text-align: center; }
    .view-broker-location-finder .views-exposed-form .views-exposed-widget.views-submit-button input.form-submit {
      position: static;
      height: 53px;
      margin-top: 10px; }

.find-a-broker-advert a {
  float: right; }

.claims {
  position: relative;
  margin-bottom: 30px; }
  .claims h2 {
    font-size: 2em; }
  .claims .claimsPoints ul li {
    width: 235px;
    margin: 0 0 32px; }

.claimsLinks li {
  width: 460px;
  height: 200px;
  margin-bottom: 20px;
  padding-top: 220px; }

#block-menu-menu-our-products, #block-menu-menu-ways-to-trade, #block-menu-menu-policy-administration {
  display: inline-table;
  width: 220px;
  background-size: 100% 120px;
  background-position: 0 40px;
  margin-right: 20px; }
  #block-menu-menu-our-products h2, #block-menu-menu-ways-to-trade h2, #block-menu-menu-policy-administration h2 {
    margin-bottom: 130px;
    border-bottom: 1px solid #f6416c;
    font-family: museo-100, Arial,"Helvetica Neue",Helvetica,sans-serif;
    padding: 0 0 5px 0;
    color: #666;
    background: none; }
    #block-menu-menu-our-products h2 a, #block-menu-menu-ways-to-trade h2 a, #block-menu-menu-policy-administration h2 a {
      color: #666; }

#block-menu-menu-policy-administration {
  margin-right: 0; }

#block-block-3 {
  display: block;
  margin-left: 20px;
  margin-right: 0; }

#block-block-6 {
  display: block;
  margin-left: 20px; }

#block-block-9 {
  margin-left: 20px;
  margin-right: 0;
  width: 220px;
  padding: 0;
  background-color: #FFF;
  opacity: 1; }

#block-block-31, #block-block-32, #block-block-33 {
  display: none; }

/** Not a broker block **/
#block-block-36 {
  display: block;
  position: absolute;
  top: 0;
  left: 400px; }
  #block-block-36 .content {
    position: relative;
    width: 350px; }
    #block-block-36 .content img {
      position: absolute;
      top: -10px;
      left: 0;
      width: 50px; }
    #block-block-36 .content p {
      margin-top: 20px;
      padding-left: 65px;
      font-size: 18px; }
    #block-block-36 .content a {
      position: relative;
      left: 190px;
      top: -32px;
      padding: 9px 18px;
      border: 1px solid #f6416c;
      color: #f6416c; }

/** front page banner **/
#block-views-front-page-banner-block-1 {
  width: 940px !important;
  height: 380px; }

.view-front-page-banner {
  width: 940px !important;
  margin: 0 auto; }
  .view-front-page-banner .views-slideshow-cycle-main-frame {
    width: 940px !important;
    height: 380px;
    margin: 0 auto; }
    .view-front-page-banner .views-slideshow-cycle-main-frame .views-slideshow-cycle-main-frame-row {
      width: 940px !important;
      height: 380px !important; }
    .view-front-page-banner .views-slideshow-cycle-main-frame .views-row {
      margin-right: 0;
      position: relative; }
      .view-front-page-banner .views-slideshow-cycle-main-frame .views-row img {
        width: 940px !important;
        height: 380px !important; }
      .view-front-page-banner .views-slideshow-cycle-main-frame .views-row .banner-content {
        top: 20px;
        left: 20px;
        width: 440px;
        height: 300px; }
        .view-front-page-banner .views-slideshow-cycle-main-frame .views-row .banner-content .banner-copy {
          margin-bottom: 20px; }
          .view-front-page-banner .views-slideshow-cycle-main-frame .views-row .banner-content .banner-copy h1 {
            font-size: 36px;
            margin-bottom: 20px; }
          .view-front-page-banner .views-slideshow-cycle-main-frame .views-row .banner-content .banner-copy .caption {
            font-size: 18px; }
  .view-front-page-banner .views-slideshow-controls-bottom {
    bottom: 70px;
    left: 210px; }

/* Documentation */
.view-documentation {
  /* Policy documentation exposed filter */ }
  .view-documentation.view-display-id-policy_documents .views-exposed-form .views-exposed-widgets, .view-documentation.view-display-id-policy_documents_product_specific .views-exposed-form .views-exposed-widgets {
    margin-bottom: 20px;
    padding-bottom: 0;
    border-bottom: 0; }
    .view-documentation.view-display-id-policy_documents .views-exposed-form .views-exposed-widgets .views-exposed-widget, .view-documentation.view-display-id-policy_documents_product_specific .views-exposed-form .views-exposed-widgets .views-exposed-widget {
      float: left;
      margin-bottom: 0; }
      .view-documentation.view-display-id-policy_documents .views-exposed-form .views-exposed-widgets .views-exposed-widget #edit-title, .view-documentation.view-display-id-policy_documents_product_specific .views-exposed-form .views-exposed-widgets .views-exposed-widget #edit-title {
        width: 300px;
        margin-right: 20px; }
      .view-documentation.view-display-id-policy_documents .views-exposed-form .views-exposed-widgets .views-exposed-widget .form-item-between-date-filter-value, .view-documentation.view-display-id-policy_documents_product_specific .views-exposed-form .views-exposed-widgets .views-exposed-widget .form-item-between-date-filter-value {
        width: 300px;
        margin-right: 20px; }
        .view-documentation.view-display-id-policy_documents .views-exposed-form .views-exposed-widgets .views-exposed-widget .form-item-between-date-filter-value #edit-between-date-filter-value .form-item-between-date-filter-value-date #edit-between-date-filter-value-datepicker-popup-0, .view-documentation.view-display-id-policy_documents_product_specific .views-exposed-form .views-exposed-widgets .views-exposed-widget .form-item-between-date-filter-value #edit-between-date-filter-value .form-item-between-date-filter-value-date #edit-between-date-filter-value-datepicker-popup-0 {
          width: 300px; }
      .view-documentation.view-display-id-policy_documents .views-exposed-form .views-exposed-widgets .views-exposed-widget .form-submit, .view-documentation.view-display-id-policy_documents_product_specific .views-exposed-form .views-exposed-widgets .views-exposed-widget .form-submit {
        padding: 5px 15px;
        position: relative;
        top: 21px;
        height: 56px;
        width: 120px; }

/* --------->>> 2. DRUPAL <<<--------- */
.page-user-edit:not(.tao) #user-profile-form input[type="text"], .page-user-edit:not(.tao) #user-profile-form input[type="password"] {
  max-width: 600px; }

/** LANDING PAGE PANELS **/
body.node-type-landing-page-panel .landing-page-footer-content {
  width: 290px; }

/** SPLASHIFY PLUS **/
.rural-splash {
  height: 470px !important; }
  .rural-splash #cboxWrapper {
    width: 850px !important;
    height: 470px !important; }
    .rural-splash #cboxWrapper #cboxContent {
      height: 470px !important; }
      .rural-splash #cboxWrapper #cboxContent #cboxLoadedContent {
        height: 420px !important; }

/** PANELS DISPLAYS **/
.panel-display.panel-1col .panel-pane h2.pane-title, .panel-display.panel-1col .panel-pane .pane-content {
  width: 940px; }

.panel-pane {
  /** GLOBAL **/ }
  .panel-pane.intro-panel h2.pane-title {
    margin-left: -470px !important;
    width: 470px !important; }
  .panel-pane.two-col h2.pane-title, .panel-pane.two-col .pane-content {
    width: 470px !important; }
  .panel-pane.two-col.left h2.pane-title, .panel-pane.two-col.left .pane-content {
    margin-left: -470px; }
  .panel-pane.large-farm.we-know-large-farm-business .pane-content img {
    width: 500px !important;
    height: 250px !important;
    margin-top: -125px;
    margin-right: -470px; }
  .panel-pane.large-farm.we-know-large-farm-business .pane-content p, .panel-pane.large-farm.we-know-large-farm-business .pane-content ul {
    padding-right: 500px; }
  .panel-pane.large-farm.product-improvements img {
    margin-right: -470px;
    width: 590px !important;
    height: 350px !important; }
  .panel-pane.large-farm.product-improvements p {
    width: 530px; }
  .panel-pane.large-farm.here-to-trade {
    -webkit-background-size: 100px 100px;
    background-size: 100px 100px;
    background: #E9AA00 url("../images/icon_trading_150x150.png") no-repeat top 22px right 20px; }
    .panel-pane.large-farm.here-to-trade .pane-content {
      padding-top: 55px !important; }
      .panel-pane.large-farm.here-to-trade .pane-content p {
        width: 350px; }
  .panel-pane.large-farm.competitive-farm-motor img {
    display: block;
    position: absolute;
    top: auto;
    bottom: 15px;
    right: 20px;
    margin: 0; }
  .panel-pane.large-farm.competitive-farm-motor ul {
    position: static;
    margin-bottom: 40px; }
  .panel-pane.large-farm.competitive-farm-motor a {
    position: static; }
  .panel-pane.large-farm.quick-response {
    background-position: center right 150px; }
    .panel-pane.large-farm.quick-response .pane-content {
      padding-right: 30%; }
  .panel-pane.agricultural-vehicle.intro-panel {
    height: 150px; }
  .panel-pane.agricultural-vehicle.two-col {
    height: 420px; }
  .panel-pane.agricultural-vehicle.you-said .pane-content p {
    width: 470px; }
  .panel-pane.agricultural-vehicle.we-did .pane-content p {
    width: 470px; }
  .panel-pane.agricultural-vehicle.heavy-risk-no-problem .pane-content img {
    display: block;
    top: 13px; }
  .panel-pane.agricultural-vehicle.underwriters {
    background-position: calc(50% + 365px) bottom; }
  .panel-pane.black-white.banner .banner-image {
    background: url("../images/landing_page/black_white/banner_desktop.png") center no-repeat;
    background-size: contain; }
  .panel-pane.black-white.picture-blocks .pane-content .picture-block {
    float: left;
    width: 50%; }
  .panel-pane.black-white.key-contacts .key-contact {
    font-size: 18px; }
    .panel-pane.black-white.key-contacts .key-contact .name {
      font-size: 28px; }
  .panel-pane.black-white.other-ways .support-block {
    float: left;
    width: 32%;
    box-sizing: border-box; }
    .panel-pane.black-white.other-ways .support-block.agricultural-risk {
      margin: 0 2%; }
    .panel-pane.black-white.other-ways .support-block p {
      font-size: 20px; }
    .panel-pane.black-white.other-ways .support-block a {
      font-size: 16px; }
  .panel-pane.hero-image {
    height: 600px; }
    .panel-pane.hero-image .pane-content {
      width: 100% !important;
      height: 600px;
      position: relative; }
      .panel-pane.hero-image .pane-content .title-block {
        margin-left: -880px;
        background: url("../images/home/hero_title_backdrop_unity.png") no-repeat 0 -470px;
        width: 1027px;
        height: 545px;
        position: absolute;
        left: 50%;
        padding-top: 33px; }
        .panel-pane.hero-image .pane-content .title-block h1 {
          padding-left: 410px;
          font-size: 66px;
          color: #FFF;
          margin-bottom: 7px; }
          .panel-pane.hero-image .pane-content .title-block h1 span {
            font-size: 82px;
            color: #FFF;
            position: relative;
            top: -15px;
            font-family: museo-500, Arial, Helvetica, sans-serif; }
        .panel-pane.hero-image .pane-content .title-block a {
          margin: 0 0 0 410px; }
      .panel-pane.hero-image .pane-content img {
        display: block; }
        .panel-pane.hero-image .pane-content img.logo {
          top: 200px;
          margin-right: -470px;
          height: auto;
          width: auto; }
        .panel-pane.hero-image .pane-content img.scroll {
          position: absolute;
          left: 50%;
          bottom: -36px;
          margin: 0 0 0 -36px; }
  .panel-pane.about-rural .pane-content .stat-block-container .stat-block {
    width: 313px; }
    .panel-pane.about-rural .pane-content .stat-block-container .stat-block p {
      padding: 0 40px; }
  .panel-pane.about-rural .pane-content img.scroll {
    display: block;
    position: absolute;
    left: 50%;
    bottom: -99px;
    margin-left: -36px; }
  .panel-pane.pane-products-products-homepage-content-pane .view-content .views-row .copy h3 {
    font-size: 28px; }
  .panel-pane.pane-products-products-homepage-content-pane .view-content .views-row .copy p {
    font-size: 16px;
    margin-bottom: 40px; }
  .panel-pane.promo-hero .pane-content .title-block {
    margin-left: -660px; }
  .panel-pane.promo-hero .pane-content img {
    margin-left: -470px; }
  .panel-pane.find-a-broker-bar .pane-content a {
    top: 26px; }
  .panel-pane.nav-blocks .stat-block-container .stat-block {
    width: 313px; }
    .panel-pane.nav-blocks .stat-block-container .stat-block img {
      height: 220px;
      width: 220px; }
    .panel-pane.nav-blocks .stat-block-container .stat-block p {
      padding: 0 40px; }
  .panel-pane.new-chapter-brand-video .pane-content iframe {
    width: 775px;
    height: 436px; }
  .panel-pane.new-chapter-why-we-changed .pane-content .block-one {
    padding: 0 485px 0 0;
    min-height: 600px; }
    .panel-pane.new-chapter-why-we-changed .pane-content .block-one img {
      height: 600px;
      width: 450px; }
  .panel-pane.new-chapter-we-are-we-will {
    padding: 44px 0 0 !important; }
    .panel-pane.new-chapter-we-are-we-will .pane-content .will-block {
      float: left;
      width: 50%; }
  .panel-pane.content-moved.page-copy .link-wrapper {
    width: 740px;
    margin: 0 auto; }
    .panel-pane.content-moved.page-copy .link-wrapper a {
      width: 360px;
      float: left; }
      .panel-pane.content-moved.page-copy .link-wrapper a.find-out-more {
        margin: 0 20px 0 0; }

.panel-panel .featured-container .featured-content {
  height: 160px;
  padding: 20px 220px 20px 20px; }
.panel-panel .featured-container .featured-image img {
  width: 200px;
  height: 200px; }

/** RBM Postcode Checker **/
#rural-postcode-rag-risksubmit-form .form-item.form-item-files-submission-form {
  float: none; }
#rural-postcode-rag-risksubmit-form .form-item input {
  width: 330px; }
#rural-postcode-rag-risksubmit-form .NFI-wrapper .NFI-filename {
  width: 520px; }

#rag-response-container .rag-response {
  width: 760px;
  padding: 40px; }

/** GROWING TOGETHER **/
.growing-together-main-page .panel-pane.growing-together-entry-blocks {
  padding: 44px 0 0 !important; }
  .growing-together-main-page .panel-pane.growing-together-entry-blocks .growing-together-entry-block {
    height: 220px;
    width: 455px;
    float: left;
    margin-bottom: 22px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px 22px 30px 172px; }
    .growing-together-main-page .panel-pane.growing-together-entry-blocks .growing-together-entry-block.our-journey-so-far {
      padding: 55px 22px 30px 172px; }
      .growing-together-main-page .panel-pane.growing-together-entry-blocks .growing-together-entry-block.our-journey-so-far h2, .growing-together-main-page .panel-pane.growing-together-entry-blocks .growing-together-entry-block.our-journey-so-far p {
        position: relative;
        top: -9px; }
      .growing-together-main-page .panel-pane.growing-together-entry-blocks .growing-together-entry-block.our-journey-so-far p {
        margin-bottom: 30px; }
    .growing-together-main-page .panel-pane.growing-together-entry-blocks .growing-together-entry-block.tools-to-help-you {
      padding: 45px 22px 30px 172px; }
    .growing-together-main-page .panel-pane.growing-together-entry-blocks .growing-together-entry-block.our-brand {
      padding: 39px 22px 30px 172px; }
      .growing-together-main-page .panel-pane.growing-together-entry-blocks .growing-together-entry-block.our-brand h2, .growing-together-main-page .panel-pane.growing-together-entry-blocks .growing-together-entry-block.our-brand p {
        position: relative;
        top: -10px; }
      .growing-together-main-page .panel-pane.growing-together-entry-blocks .growing-together-entry-block.our-brand p {
        margin-bottom: 20px; }
    .growing-together-main-page .panel-pane.growing-together-entry-blocks .growing-together-entry-block.your-team-your-products {
      padding: 28px 22px 30px 172px; }
    .growing-together-main-page .panel-pane.growing-together-entry-blocks .growing-together-entry-block.odd {
      margin-right: 20px; }
    .growing-together-main-page .panel-pane.growing-together-entry-blocks .growing-together-entry-block img {
      top: 50px;
      left: 30px; }
    .growing-together-main-page .panel-pane.growing-together-entry-blocks .growing-together-entry-block p {
      margin-bottom: 20px; }
    .growing-together-main-page .panel-pane.growing-together-entry-blocks .growing-together-entry-block a {
      position: static; }

/*# sourceMappingURL=960.css.map */
