/**
 * Author: Craig Coates
 *
 * Date: 17 September 2012
 *
 * Contents:
 * 1. LAYOUT

			a) Columns
			b) Non-front settings
	
 * 2. HTML ELEMENTS
	
			a) Main menu
			b) Menu blocks
			c) Home menu blocks
			d) Sub navigation
			e) Footer menu
			f) News archive
	
 * 3. NAVIGATION
	
			a) Main menu setting
			b) Quicktabs
			c) Forms
			d) Broker location
			
 * 4. HTML ELEMENTS
	
			a) Action boxes
			b) Media contact
			c) Drupal	
			d) Landing page

	
 */

/**
 *	CLEAR FIX ADDITION
 */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}


/** Sabon **/

@font-face {
 font-family:SabonLTStdBoldItalic;
 src:url(../fonts/SabonLTStdBoldItalic.eot);
 src:local("#"), url(../fonts/SabonLTStdBoldItalic.ttf) format("truetype");
}

/** **/
@font-face {
 font-family:SabonLTStdRoman;
 src:url(../fonts/SabonLTStdRoman.eot);
 src:local("#"), url(../fonts/SabonLTStdRoman.ttf) format("truetype");
}

/** Trade Gothic **/
@font-face {
 font-family:TradeGothicLTStd-Light;
 src:url(../fonts/TradeGothicLTStd-Light.eot);
 src:local("#"), url(../fonts/TradeGothicLTStd-Light.ttf) format("truetype");
}

/** **/
@font-face {
 font-family:TradeGothicLTStd-Bd2;
 src:url(../fonts/TradeGothicLTStd-Bd2.eot);
 src:local("#"), url(../fonts/TradeGothicLTStd-Bd2.ttf) format("truetype");
}

.clearMe:after { display:block; clear:both; height:0; font-size:0; content:" "; visibility:hidden; }

* html .clearMe,
*:first-child+html .clearMe { zoom:1; }

body { margin:10px; color:#666; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:1.4; background:#fff; }

a { color:#c60; text-decoration:none; outline:none; }

a:hover { text-decoration:underline; }

h1,
h2,
h3,
h4,
h5,
h6 { font:21px/1.2em TradeGothicLTStd-Light, Arial, "Helvetica Neue", Helvetica, sans-serif; }

h1,
h2 { margin-bottom:10px; }

h1 span,
h2 span,
h3 span { color:#444; font-family:TradeGothicLTStd-Bd2, Arial, "Helvetica Neue", Helvetica, sans-serif; }

h3,
h4,
h5,
h6 { margin-bottom:5px; }

h2.center { text-align:center;}

h3.title { padding-bottom:5px; border-bottom:#c90 solid 2px; }

hr { background-color: #EEEEEE; border: medium none; clear: both; color: #EEEEEE; height: 1px; margin: 5px 0 10px; width: 100%; }

img { border:none; margin-bottom:5px; }

p { margin-bottom:10px; }

p strong { color:#c60; font-weight:bold; }

strong { font-weight:bold; }

table { width:100%; margin-bottom:10px; }

table th,
table td { padding:5px 10px; text-align:left; }

table thead th,
table thead td { border-bottom:#ddd solid 2px; color:#666; font-weight:bold; }

table td.active { background-color:#f5f5f5; }

th.active img { display: inline; float: right; padding-top: 4px; }

table.form td { padding:4px 0; font-size:12px; line-height:1.3em; }

table.form td.title { padding:8px 0; color:#c60; font-size:14px; font-weight:bold; }

table tr.even { background-color: #FFF; border-bottom: 1px solid #CCCCCC; padding: 0.1em 0.6em; }

table tr.odd { background-color: #F8F8F8; }

ol,
ul { margin:0 0 10px 0px; }

ul li { padding-left:16px; background:url(../images/content-li.png) 0 6px no-repeat; }

div p { padding: 0; margin: 0; }

/** Accordian Stuff **/

div.accordian-container { border: 1px dotted red; padding: 20px 5px; }

div.accordian-header { border: 1px dotted blue; padding: 20px 5px; margin-bottom: 5px; }

div.accordian-body { border: 1px dotted orange; padding: 20px 5px; margin-bottom: 10px; }

/** Bullet List Stuff **/

h2.green-bullet-header { background-color: #027969; margin-bottom: 0; color: #FFF; padding:10px 20px; }

ul.green-bullet-list { background: #029584; padding:10px 20px; color: #FFF; }

ul.green-bullet-list { font-size: 16px; margin-bottom: 10px; }

/** Templates **/

/* 2 Column */

div.column-wrapper { margin-bottom: 10px; }

div.column-wrapper .column { float: left; width: 50%; min-height: 20px; border: 1px dotted #AAA; padding: 10px; box-sizing: border-box; }