
@import '720.css';

@import '960.css';

@import 'ie9.css';

/* --------->>> 1. LAYOUT <<<--------- */

/*#page-wrapper { width:960px; max-width:none; }*/

/* --------->>> 2. NAVIGATION <<<--------- */

/* --------->>> 3. DRUPAL <<<--------- */

/* --------->>> 4. HTML ELEMENTS <<<--------- */

img { width:auto; }

/**
 * Views
 */

/* Project carousel */

/* --------->>> 5. OTHER <<<--------- */

/*Splash screen */

.page-splashify-splash h1#page-title { text-align: center; border-bottom: 0; padding-bottom: 0; }

.page-splashify-splash  p.intro { text-align: center; font-size: 14px; }

.page-splashify-splash .intro-block { padding: 20px 10px; color: #FFF; width: 385px; padding: 170px 20px 30px 20px; float: left; box-sizing: border-box; }

.page-splashify-splash .intro-block.broker { margin-right: 20px; background: url('../images/splash-broker-395x150.jpeg') no-repeat #249a89; }

.page-splashify-splash .intro-block.customer { background: url('../images/splash-customer-395x150.jpeg') no-repeat #005449; }

.page-splashify-splash .intro-block h3 { font-size: 20px; margin-bottom: 20px }

.page-splashify-splash .intro-block a { padding: 10px 20px; color: #FFF; border: 1px solid #FFF; font-size: 14px; }

.page-splashify-splash .intro-block p { margin-bottom: 30px; }