.panel-panel { margin-bottom: 20px; }

.panel-panel .panel-pane { margin-bottom: 20px; }

.panel-panel .panel-pane:last-of-type { margin-bottom: 0px; }

.pane-content p { margin-bottom: 0px; }

.panel-col-first, .panel-col-last {
	display:block;
}

.panel-col-first { 
  float: left; 
  width: 48.9%; 
}

.panel-col-last { 
  float: right; 
  width: 48.9%; 
}

@media screen and (max-width: 940px) {
	.panel-col-first { 
	  float: none; 
	  width: 100%; 
	}

	.panel-col-last { 
	  float: none; 
	  width: 100%; 
	}
}



