
<table border="0" cellpadding="0" cellspacing="0" width="100%" id="bodyTable">
  <tr>
    <td align="center" valign="top" id="bodyCell"><!-- BEGIN TEMPLATE // --> 
      <!--[if gte mso 9]>
						<table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
						<tr>
						<td align="center" valign="top" width="600" style="width:600px;">
						<![endif]-->
      
      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
        <tr>
          <td valign="top" id="templateBody"><table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#F2F2F2" class="mcnBoxedTextBlock" style="min-width:100%;">
              <!--[if gte mso 9]>
	<table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">
	<![endif]-->
              <tbody class="mcnBoxedTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnBoxedTextBlockInner"><!--[if gte mso 9]>
				<td align="center" valign="top" width="380">
				<![endif]-->
                    
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="540" height="150" class="mcnBoxedTextContentContainer">
                      <tbody>
                        <tr>
                          <td class="mcnBoxedTextContentColumn" style="padding-top:9px; padding-right:18px; padding-bottom:9px; padding-left:18px;"><table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;background-color: #FFFFFF;">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent" style="color: #5A6771;font-family: Helvetica;font-size: 16px;font-weight: normal;text-align: center;"><div style="margin-bottom:10px; text-align: left;"><span style="font-size:20px">[@reg] <span style="color:#A9A9A9">|</span> [@make]</span></div>
                                    <div style="text-align: left;"><span style="font-size:14px">[@year] &nbsp;&nbsp;[@type] &nbsp; [@value] &nbsp; NCB:&nbsp;[@ncb]</span></div></td>
                                  <td valign="top" class="mcnTextContent" style="color: #5A6771;font-family: Helvetica;font-size: 16px;font-weight: normal;text-align: center;"><div style="text-align: left;"><span style="color:#38b7ac">[@vPremium]</span></div></td>
                                </tr>
                              </tbody>
                            </table></td>
                        </tr>
                      </tbody>
                    </table>
                    
                    <!--[if gte mso 9]>
				</td>
				<![endif]--> 
                    
                    <!--[if gte mso 9]>
				<td align="center" valign="top" width="200">
				<![endif]--><!--[if gte mso 9]>
				</td>
				<![endif]--> 
                    
                    <!--[if gte mso 9]>
                </tr>
                </table>
				<![endif]--></td>
                </tr>
              </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock" style="min-width:100%;">
              <!--[if gte mso 9]>
	<table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">
	<![endif]-->
              <tbody class="mcnBoxedTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnBoxedTextBlockInner"><!--[if gte mso 9]>
				<td align="center" valign="top" width="380">
				<![endif]--></td>
                </tr>
              </tbody>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
