<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" id="bodyTable">
  <tr>
    <td align="center" valign="top" id="bodyCell"><!-- BEGIN TEMPLATE // --> 
      <!--[if gte mso 9]>
						<table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
						<tr>
						<td align="center" valign="top" width="600" style="width:600px;">
						<![endif]-->
      
      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
        <tr>
          <td valign="top" id="templateHeader"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
              <tbody class="mcnTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;"><!--[if mso]>
				<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
				<tr>
				<![endif]--> 
                    
                    <!--[if mso]>
				<td valign="top" width="600" style="width:600px;">
				<![endif]-->
                    
                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                      <tbody>
                        <tr>
                          <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px;color: #5A6771;font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;font-size: 20px;font-style: normal;font-weight: normal;line-height: 125%;text-align: left;"> <p>Thanks for your submission. We&#8217;ll put your client&#8217;s risk on cover and send you policy documentation shortly. </p>
                          <p style="font-size:15px;">This email confirmation is solely for your purpose. Our Underwriters have received a copy of your submission information.</p></td>
                        </tr>
                      </tbody>
                    </table>
                    
                    <!--[if mso]>
				</td>
				<![endif]--> 
                    
                    <!--[if mso]>
				</tr>
				</table>
				<![endif]--></td>
                </tr>
              </tbody>
            </table></td>
        </tr>
        <tr>
          <td valign="top" id="templateBody"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
              <tbody class="mcnTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;"><!--[if mso]>
				<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
				<tr>
				<![endif]--> 
                    
                    <!--[if mso]>
				<td valign="top" width="600" style="width:600px;">
				<![endif]-->
                    
                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                      <tbody>
                        <tr>
                          <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px;color: #5A6771;font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;font-size: 16px;font-style: normal;font-weight: normal;line-height: 125%;text-align: left;"><div style="text-align: center;">In the meantime, your quote reference is<br>
                              <br>
                              <span style="font-size:24px">[@quoteReference]</span></div></td>
                        </tr>
                      </tbody>
                    </table>
                    
                    <!--[if mso]>
				</td>
				<![endif]--> 
                    
                    <!--[if mso]>
				</tr>
				</table>
				<![endif]--></td>
                </tr>
              </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
              <tbody class="mcnDividerBlockOuter">
                <tr>
                  <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 16px 18px 12px;"><table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top: 1px solid #CCCCCC;">
                      <tbody>
                        <tr>
                          <td><span></span></td>
                        </tr>
                      </tbody>
                    </table>
                    
                    <!--            
                <td class="mcnDividerBlockInner" style="padding: 18px;">
                <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
--></td>
                </tr>
              </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock">
              <tbody class="mcnCaptionBlockOuter">
                <tr>
                  <td class="mcnCaptionBlockInner" valign="top" style="padding:9px;"><table border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightContentOuter" width="100%">
                      <tbody>
                        <tr>
                          <td valign="top" class="mcnCaptionRightContentInner" style="padding:0 9px ;"><table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightImageContentContainer">
                              <tbody>
                                <tr>
                                  <td class="mcnCaptionRightImageContent" valign="top"><img alt="" src="https://gallery.mailchimp.com/e451ec78c08efbcdaa4c9f429/images/8ae49221-ee1f-4573-885e-6d28c3ead80a.jpg" width="130" style="max-width:130px;" class="mcnImage"></td>
                                </tr>
                              </tbody>
                            </table>
                            <table class="mcnCaptionRightTextContentContainer" align="right" border="0" cellpadding="0" cellspacing="0" width="396">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent"><div style="margin-top:18px; font-size: 18px; font-weight: normal;">Just log onto our <a href="https://covernotes.ruralinsurance.co.uk/Console/Login.action" target="_blank">Cover notes system</a> to generate a cover note for your client.</div></td>
                                </tr>
                              </tbody>
                            </table></td>
                        </tr>
                      </tbody>
                    </table></td>
                </tr>
              </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock">
              <tbody class="mcnCaptionBlockOuter">
                <tr>
                  <td class="mcnCaptionBlockInner" valign="top" style="padding:9px;"><table border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightContentOuter" width="100%">
                      <tbody>
                        <tr>
                          <td valign="top" class="mcnCaptionRightContentInner" style="padding:0 9px ;"><table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightImageContentContainer">
                              <tbody>
                                <tr>
                                  <td class="mcnCaptionRightImageContent" valign="top"><img alt="" src="https://gallery.mailchimp.com/e451ec78c08efbcdaa4c9f429/images/90b6e8d4-b19c-45d5-a599-71e89bee3b4b.jpg" width="130" style="max-width:130px;" class="mcnImage"></td>
                                </tr>
                              </tbody>
                            </table>
                            <table class="mcnCaptionRightTextContentContainer" align="right" border="0" cellpadding="0" cellspacing="0" width="396">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent"><div style="margin-top:28px; font-size: 18px; font-weight: normal;"><a href="http://www.ruralinsurance.co.uk/unity/documentation" target="_blank">Click here</a> to download all related documentation</div></td>
                                </tr>
                              </tbody>
                            </table></td>
                        </tr>
                      </tbody>
                    </table></td>
                </tr>
              </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
              <tbody class="mcnDividerBlockOuter">
                <tr>
                  <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 16px 18px 12px;"><table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top: 1px solid #CCCCCC;">
                      <tbody>
                        <tr>
                          <td><span></span></td>
                        </tr>
                      </tbody>
                    </table>
                    
                    <!--            
                <td class="mcnDividerBlockInner" style="padding: 18px;">
                <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
--></td>
                </tr>
              </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
              <tbody class="mcnTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;"><!--[if mso]>
				<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
				<tr>
				<![endif]--> 
                    
                    <!--[if mso]>
				<td valign="top" width="600" style="width:600px;">
				<![endif]-->
                    
                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                      <tbody>
                        <tr>
                          <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px;color: #5A6771;font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;font-size: 16px;font-style: normal;font-weight: normal;line-height: 150%;text-align: left;"><div style="text-align: center;">If you need to get in touch to discuss your quote, please just give us a<br>
                              call on 0344 55 77 177.</div></td>
                        </tr>
                      </tbody>
                    </table>
                    
                    <!--[if mso]>
				</td>
				<![endif]--> 
                    
                    <!--[if mso]>
				</tr>
				</table>
				<![endif]--></td>
                </tr>
              </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
              <tbody class="mcnDividerBlockOuter">
                <tr>
                  <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 16px 18px 12px;"><table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top: 1px solid #CCCCCC;">
                      <tbody>
                        <tr>
                          <td><span></span></td>
                        </tr>
                      </tbody>
                    </table>
                    
                    <!--            
                <td class="mcnDividerBlockInner" style="padding: 18px;">
                <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
--></td>
                </tr>
              </tbody>
            </table></td>
        </tr>
      </table>
      
      <!--[if gte mso 9]>
						</td>
						</tr>
						</table>
						<![endif]--> 
      <!-- // END TEMPLATE --></td>
  </tr>
</table>
