<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
  <tr>
    <td align="center" valign="top" id="bodyCell"><!-- BEGIN TEMPLATE // --> 
      <!--[if gte mso 9]>
						<table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
						<tr>
						<td align="center" valign="top" width="600" style="width:600px;">
						<![endif]-->
      
      <table border="0" cellpadding="15" cellspacing="0" width="100%" class="templateContainer" bgcolor="#f2f2f2">
        <tr>
          <td valign="top" id="templateBody"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock" style="min-width:100%;">
              <tbody class="mcnBoxedTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnBoxedTextBlockInner"><table align="left" border="0" cellpadding="0" cellspacing="0" width="210" class="mcnBoxedTextContentContainer">
                      <tbody>
                        <tr>
                          <td class="mcnBoxedTextContentColumn" style="padding-top:9px; padding-bottom:9px;"><table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;background-color: #ffffff;">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent" style="color: #5A6771;font-family: Helvetica;font-size: 16px;font-weight: normal;text-align: center;"><div style="text-align: left;">Reg / Serial No.</div></td>
                                </tr>
                              </tbody>
                            </table></td>
                        </tr>
                      </tbody>
                    </table>
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="320" class="mcnBoxedTextContentContainer">
                      <tbody>
                        <tr>
                          <td class="mcnBoxedTextContentColumn" style="padding-top:9px; padding-bottom:9px; padding-left: 18px; "><table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;background-color: #FFFFFF">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent" style="color: #5A6771;font-family: Helvetica;font-size: 16px;font-weight: normal;text-align: center;"><div style="text-align: left;">[@reg]</div></td>
                                </tr>
                              </tbody>
                            </table></td>
                        </tr>
                      </tbody>
                    </table></td>
                </tr>
              </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock" style="min-width:100%;">
              <tbody class="mcnBoxedTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnBoxedTextBlockInner"><table align="left" border="0" cellpadding="0" cellspacing="0" width="210" class="mcnBoxedTextContentContainer">
                      <tbody>
                        <tr>
                          <td class="mcnBoxedTextContentColumn" style="padding-top:9px; padding-bottom:9px; "><table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;background-color: #FFFFFF">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent" style="color: #5A6771;font-family: Helvetica;font-size: 16px;font-weight: normal;text-align: center;"><div style="text-align: left;">Make &amp; Model:</div></td>
                                </tr>
                              </tbody>
                            </table></td>
                        </tr>
                      </tbody>
                    </table>
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="320" class="mcnBoxedTextContentContainer">
                      <tbody>
                        <tr>
                          <td class="mcnBoxedTextContentColumn" style="padding-top:9px; padding-bottom:9px; padding-left: 18px;"><table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;background-color: #FFFFFF">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent" style="color: #5A6771;font-family: Helvetica;font-size: 16px;font-weight: normal;text-align: center;"><div style="text-align: left;">[@make]</div></td>
                                </tr>
                              </tbody>
                            </table></td>
                        </tr>
                      </tbody>
                    </table></td>
                </tr>
              </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock" style="min-width:100%;">
              <tbody class="mcnBoxedTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnBoxedTextBlockInner"><table align="left" border="0" cellpadding="0" cellspacing="0" width="210" class="mcnBoxedTextContentContainer">
                      <tbody>
                        <tr>
                          <td class="mcnBoxedTextContentColumn" style="padding-top:9px; padding-bottom:9px; "><table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;background-color: #FFFFFF">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent" style="color: #5A6771;font-family: Helvetica;font-size: 16px;font-weight: normal;text-align: center;"><div style="text-align: left;">Year:</div></td>
                                </tr>
                              </tbody>
                            </table></td>
                        </tr>
                      </tbody>
                    </table>
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="320" class="mcnBoxedTextContentContainer">
                      <tbody>
                        <tr>
                          <td class="mcnBoxedTextContentColumn" style="padding-top:9px; padding-bottom:9px; padding-left: 18px; "><table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;background-color: #FFFFFF">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent" style="color: #5A6771;font-family: Helvetica;font-size: 16px;font-weight: normal;text-align: center;"><div style="text-align: left;">[@year]</div></td>
                                </tr>
                              </tbody>
                            </table></td>
                        </tr>
                      </tbody>
                    </table></td>
                </tr>
              </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock" style="min-width:100%;">
              <tbody class="mcnBoxedTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnBoxedTextBlockInner"><table align="left" border="0" cellpadding="0" cellspacing="0" width="210" class="mcnBoxedTextContentContainer">
                      <tbody>
                        <tr>
                          <td class="mcnBoxedTextContentColumn" style="padding-top:9px; padding-bottom:9px; "><table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;background-color: #FFFFFF">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent" style="color: #5A6771;font-family: Helvetica;font-size: 16px;font-weight: normal;text-align: center;"><div style="text-align: left;">Vehicle type:</div></td>
                                </tr>
                              </tbody>
                            </table></td>
                        </tr>
                      </tbody>
                    </table>
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="320" class="mcnBoxedTextContentContainer">
                      <tbody>
                        <tr>
                          <td class="mcnBoxedTextContentColumn" style="padding-top:9px; padding-bottom:9px; padding-left: 18px;"><table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;background-color: #FFFFFF">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent" style="color: #5A6771;font-family: Helvetica;font-size: 16px;font-weight: normal;text-align: center;"><div style="text-align: left;">[@type]</div></td>
                                </tr>
                              </tbody>
                            </table></td>
                        </tr>
                      </tbody>
                    </table></td>
                </tr>
              </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock" style="min-width:100%;">
              <tbody class="mcnBoxedTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnBoxedTextBlockInner"><table align="left" border="0" cellpadding="0" cellspacing="0" width="210" class="mcnBoxedTextContentContainer">
                      <tbody>
                        <tr>
                          <td class="mcnBoxedTextContentColumn" style="padding-top:9px; padding-bottom:9px;"><table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;background-color: #FFFFFF">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent" style="color: #5A6771;font-family: Helvetica;font-size: 16px;font-weight: normal;text-align: center;"><div style="text-align: left;">Value (£):</div></td>
                                </tr>
                              </tbody>
                            </table></td>
                        </tr>
                      </tbody>
                    </table>
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="320" class="mcnBoxedTextContentContainer">
                      <tbody>
                        <tr>
                          <td class="mcnBoxedTextContentColumn" style="padding-top:9px; padding-bottom:9px; padding-left: 18px;"><table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;background-color: #FFFFFF">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent" style="color: #5A6771;font-family: Helvetica;font-size: 16px;font-weight: normal;text-align: center;"><div style="text-align: left;">[@value]</div></td>
                                </tr>
                              </tbody>
                            </table></td>
                        </tr>
                      </tbody>
                    </table></td>
                </tr>
              </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock" style="min-width:100%;">
              <tbody class="mcnBoxedTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnBoxedTextBlockInner"><table align="left" border="0" cellpadding="0" cellspacing="0" width="210" class="mcnBoxedTextContentContainer">
                      <tbody>
                        <tr>
                          <td class="mcnBoxedTextContentColumn" style="padding-top:9px; padding-bottom:9px;"><table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;background-color: #FFFFFF">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent" style="color: #5A6771;font-family: Helvetica;font-size: 16px;font-weight: normal;text-align: center;"><div style="text-align: left;">NCB:</div></td>
                                </tr>
                              </tbody>
                            </table></td>
                        </tr>
                      </tbody>
                    </table>
                    
                    <!--[if gte mso 9]>
				</td>
				<![endif]--> 
                    
                    <!--[if gte mso 9]>
				<td align="center" valign="top" width="390">
				<![endif]-->
                    
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="320" class="mcnBoxedTextContentContainer">
                      <tbody>
                        <tr>
                          <td class="mcnBoxedTextContentColumn" style="padding-top:9px; padding-bottom:9px; padding-left: 18px; "><table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;background-color: #FFFFFF">
                              <tbody>
                                <tr>
                                  <td valign="top" class="mcnTextContent" style="color: #5A6771;font-family: Helvetica;font-size: 16px;font-weight: normal;text-align: center;"><div style="text-align: left;">[@ncb]</div></td>
                                </tr>
                              </tbody>
                            </table></td>
                        </tr>
                      </tbody>
                    </table></td>
                </tr>
              </tbody>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
